<template>
  <div class="hierarchy-details">
    <div v-if="model.ignoreInDesignation">
      <p class="designation">
        <i>
          {{ model.denomination[$i18n.locale] }}
        </i>
      </p>
      <hr />
      <b-message type="is-info">
        <i>
          {{ $t('select-item-hint') }}
        </i>
      </b-message>
    </div>
    <div v-else>
      <p class="designation">{{ model.fullDesignation }}</p>
      <p class="author-timestamp">
        <span v-if="model.author">@{{ model.author }},</span>
        <span v-if="model.lastModified">
          {{ $t('edited') }}:
          {{ model.lastModified | date($i18n.locale) }}
        </span>
      </p>
      <p v-if="model.comment" class="comment">
        <br />
        {{ model.comment }}
      </p>
      <div
        ref="documentContainer"
        class="document-container"
        :class="{ 'is-hidden': !isDocument }"
        @click="downloadDocument()"
      >
        <hr />
        <file
          v-if="documentFile"
          :data="documentFile"
          class="document"
          :class="{ clickable: documentFile }"
        />
        <file v-else :data="{ name: '-', size: 0, lastModified: new Date(0) }" />
      </div>
      <hr />
      <b-message v-if="showNotCompleteHint" type="is-warning">
        <b>{{ $t('caution') }}</b>
        <p>{{ $t('not-complete-hint') }}</p>
      </b-message>
      <parse-tree v-if="tree" :tree="tree" />
    </div>
  </div>
</template>

<script>
import ParseTree from '~/components/parser/ParseTree'
import File from '~/components/File'

export default {
  components: {
    ParseTree,
    File
  },
  filters: {
    date(val, locale) {
      const date = new Date(val)
      return date.toLocaleDateString(locale)
    }
  },
  props: {
    model: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      tree: null,
      showNotCompleteHint: false,
      isDocument: false,
      documentFile: null
    }
  },
  watch: {
    model: {
      handler(val, old) {
        this.reset()
      }
    }
  },
  mounted() {
    this.reset()
  },
  methods: {
    reset() {
      this.tree = null
      this.showNotCompleteHint = false
      this.isDocument = false
      this.documentFile = null
      if (!this.model || JSON.stringify(this.model) === JSON.stringify({})) {
        return
      }
      if (!this.model.ignoreInDesignation) {
        this.parse()
        this.checkForDocument()
      }
    },
    parse() {
      this.$axios
        .get(`${process.env.API_HOST}/parser/parse`, {
          params: { designation: this.model.fullDesignation }
        })
        .then((response) => {
          const tree = response.data.tree
          if (response.data.error) {
            this.showNotCompleteHint = true
          } else {
            this.tree = tree.childs[tree.childs.length - 1]
          }
        })
    },
    checkForDocument() {
      this.$axios
        .get(`${process.env.API_HOST}/ftp/is-document`, {
          params: { designation: this.model.fullDesignation }
        })
        .then((response) => {
          if (response.data === true) {
            this.isDocument = true
            const loading = this.$buefy.loading.open({
              container: this.$refs.documentContainer,
              isFullPage: false,
              canCancel: false
            })
            this.$axios
              .get(`${process.env.API_HOST}/ftp/exists`, {
                params: { designation: this.model.fullDesignation }
              })
              .then((response) => {
                loading.close()
                if (response.data !== false && typeof response.data === 'object') {
                  this.documentFile = response.data
                } else {
                  this.documentFile = null
                }
              })
          } else {
            this.isDocument = false
            this.documentFile = null
          }
        })
    },
    downloadDocument() {
      if (!this.documentFile) return
      const url = `${process.env.API_HOST}/ftp/download?designation=${encodeURIComponent(
        this.model.fullDesignation
      )}`
      const a = document.createElement('a')
      a.href = url
      document.body.appendChild(a)
      a.click()
      document.body.removeChild(a)
    }
  }
}
</script>

<style lang="scss" scoped>
.hierarchy-details {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: stretch;
  padding: 1em;
  border: 0.125em solid $white-ter;
  background-color: $white-bis;

  & > * {
    flex-grow: 1;
    width: 100%;
    max-width: 100%;
    overflow: auto;
  }

  .designation {
    font-weight: 700;
  }

  .author-timestamp {
    font-size: 0.9em;
  }

  .comment {
    font-style: italic;
    color: $grey;
  }

  .document-container {
    position: relative;

    .document {
      &.clickable {
        cursor: pointer;
      }
    }
  }
}
</style>

<i18n src="~/locale/de/components/plant-structure/HierarchyDetails.json" locale="de"></i18n>
<i18n src="~/locale/en/components/plant-structure/HierarchyDetails.json" locale="en"></i18n>
