<template>
  <div class="hierarchy-item" :class="{ 'is-root': isRoot }">
    <div ref="self" class="item" :class="{ deactivated: loading }">
      <div class="toggle" :class="{ hidden: isToggleHidden }" @click="toggle()">
        <b-icon :icon="expanded ? 'minus' : 'plus'" />
      </div>
      <span @click="onTagClick()">
        <b-tag
          size="is-medium"
          :type="selected ? 'is-secondary' : 'is-light'"
          class="item-name"
          :class="{ 'no-read-designation': model.ignoreInDesignation }"
        >
          {{ name }}
        </b-tag>
      </span>
      <div v-if="showActions" class="actions" :class="{ expanded: showActionsDropdown }">
        <div class="actions-toggle" @click.stop="showActionsDropdown = !showActionsDropdown">
          <b-icon icon="ellipsis-h" size="is-small" />
        </div>
        <div class="actions-dropdown">
          <div v-if="showDeleteButton" class="action" @click="onDelete">
            <b-icon icon="trash" size="is-small" type="is-danger" />
          </div>
          <div v-if="showContinueButton" class="action" @click="onContinue">
            <b-icon icon="arrow-right" size="is-small" type="is-success" />
          </div>
        </div>
      </div>
      <div
        v-if="
          (denomination && denomination[$i18n.locale]) ||
          (sectionDenomination && sectionDenomination[$i18n.locale]) ||
          model.ignoreInDesignation
        "
        class="denomination"
        @click="showFullDenomination()"
      >
        <b-icon icon="info-circle" type="is-info" />
        <div v-if="model.ignoreInDesignation">
          {{ model.denomination[$i18n.locale] }}
        </div>
        <div v-else>
          <span
            v-if="
              sectionDenomination &&
              sectionDenomination[$i18n.locale] &&
              (!denomination || !denomination[$i18n.locale])
            "
          >
            {{ sectionDenomination[$i18n.locale] }}
          </span>
          <span v-if="denomination && denomination[$i18n.locale]">
            {{ denominationShort[$i18n.locale] }}
          </span>
        </div>
      </div>
    </div>
    <div v-if="expanded" class="children">
      <HierarchyItem
        v-for="(s, i) in successors"
        ref="children"
        :key="i"
        :preceding="fullDesignation"
        :model="s"
        @select-parent="select(false)"
        @select-prev="onSelectPrev"
        @select-next="onSelectNext"
      />
    </div>
    <div v-if="loading" class="loading-container">
      <b-loading :active.sync="loading" :is-full-page="false" />
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

const keyboardTimeout = 30

export default {
  name: 'HierarchyItem',
  props: {
    preceding: {
      type: String,
      required: false,
      default: ''
    },
    model: {
      type: Object,
      required: true
    },
    isRoot: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  data() {
    return {
      expanded: false,
      successors: [],
      denomination: {},
      denominationShort: {},
      sectionDenomination: {},
      examples: null,
      isToggleHidden: this.isRoot,
      loading: false,
      clickCount: 0,
      showActionsDropdown: false,
      showDeleteButton: false,
      showContinueButton: false
    }
  },
  computed: mapState({
    selectedItem: (state) => state.plantStructure.selectedItem,
    selected() {
      if (!this.selectedItem) {
        return false
      }
      return this.selectedItem._uid === this._uid
    },
    name() {
      let name = this.model.designation
      if (this.model.ignoreInDesignation) {
        name = `[ ${name} ]`
      }
      return name
    },
    fullDesignation() {
      let full = this.preceding
      if (!this.model.ignoreInDesignation) {
        if (/^[#+=\-&:;/]/.test(this.model.designation)) {
          full += ' '
        }
        full += this.model.designation
      }
      return full.trim()
    },
    showActions() {
      return this.showDeleteButton || this.showContinueButton
    }
  }),
  watch: {
    selected: {
      handler(val, old) {
        if (val === false) {
          this.clickCount = 0
        }
      }
    }
  },
  mounted() {
    document.addEventListener('keydown', this.onKeydown)
    document.addEventListener('click', () => (this.showActionsDropdown = false))
    if (this.isRoot) {
      setTimeout(() => {
        this.select()
      }, 100)
    }
    if (!this.model.ignoreInDesignation) {
      this.denominate()
      this.getPossibleActions()
    }
  },
  beforeDestroy() {
    document.removeEventListener('keydown', this.onKeydown)
  },
  methods: {
    toggle(val = undefined) {
      if (val === this.expanded) return // leave as it is
      if (this.expanded && this.isRoot) return // don't collapse root
      this.expanded = val !== undefined ? val : !this.expanded
      if (this.expanded) {
        return this.getSuccessors()
      } else {
        return new Promise((resolve, reject) => resolve())
      }
    },
    select(withToggle = true) {
      if (withToggle) {
        this.toggle()
      }
      if (!this.selected) {
        this.$store.dispatch('plantStructure/setSelected', {
          _uid: this._uid, // unique ID of component be able to tell to HierarchyItems with the same fullDesignation apart
          fullDesignation: this.fullDesignation,
          ...this.model
        })
      }
      const self = this.$refs.self
      const rect = self.getBoundingClientRect()
      const scrollPadding = 24
      const offsetTop = document.querySelector('header').offsetHeight + scrollPadding
      if (rect.top < offsetTop) {
        const y = window.pageYOffset + rect.top - offsetTop
        window.scrollTo(window.scrollX, y)
      } else if (window.innerHeight - scrollPadding < rect.top + rect.height) {
        self.scrollIntoView({ behavior: 'auto', block: 'end' })
        const y = window.pageYOffset + rect.top - window.innerHeight + rect.height + scrollPadding
        window.scrollTo(window.scrollX, y)
      }
    },
    onTagClick() {
      this.clickCount++
      this.select(false)
      if (this.clickCount > 1) {
        this.toggle()
      }
    },
    children() {
      return this.$refs.children
    },
    getChildrenCount() {
      return this.$refs.children ? this.$refs.children.length : 0
    },
    isExpanded() {
      return this.expanded
    },
    onKeydown(e) {
      if (this.selected && ['ArrowLeft', 'ArrowRight', 'ArrowUp', 'ArrowDown'].includes(e.key)) {
        e.preventDefault()
        e.stopPropagation()
        switch (e.key) {
          case 'ArrowLeft':
            if (this.expanded && !this.isToggleHidden) {
              this.toggle(false) // collapse
            } else {
              this.$emit('select-parent') // go one level up
            }
            break
          case 'ArrowRight':
            if (this.expanded) {
              if (this.children() && this.getChildrenCount() > 0) {
                setTimeout(() => {
                  this.children()[0].select(false) // go to first child
                }, keyboardTimeout)
              }
            } else {
              this.toggle(true) // expand
            }
            break
          case 'ArrowUp':
            this.$emit('select-prev', this._uid) // let parent handle it
            break
          case 'ArrowDown':
            if (this.expanded && this.getChildrenCount() > 0) {
              setTimeout(() => {
                this.children()[0].select(false) // go to first child
              }, keyboardTimeout)
            } else {
              this.$emit('select-next', this._uid) // let parent handle it
            }
            break
        }
      }
    },
    onSelectPrev(currentUid) {
      for (let i = 0; i < this.getChildrenCount(); i++) {
        if (this.children()[i]._uid === currentUid) {
          if (i > 0) {
            if (
              this.children()[i - 1].isExpanded() &&
              this.children()[i - 1].getChildrenCount() > 0
            ) {
              let c = this.children()[i - 1]
              while (
                c.children()[c.getChildrenCount() - 1].isExpanded() &&
                c.children()[c.getChildrenCount() - 1].getChildrenCount() > 0
              ) {
                c = c.children()[c.getChildrenCount() - 1]
              }
              setTimeout(() => {
                c.children()[c.getChildrenCount() - 1].select(false) // select last last of prev sibling
              }, keyboardTimeout)
            } else {
              setTimeout(() => {
                this.children()[i - 1].select(false) // select prev sibling of currently selected child
              }, keyboardTimeout)
            }
          } else {
            this.select(false) // select self (which is one level above before)
          }
          return
        }
      }
    },
    onSelectNext(currentUid) {
      for (let i = 0; i < this.getChildrenCount(); i++) {
        if (this.children()[i]._uid === currentUid) {
          if (i < this.getChildrenCount() - 1) {
            setTimeout(() => {
              this.children()[i + 1].select(false) // select next of same level
            }, keyboardTimeout)
            return
          }
        }
      }
      if (this.children() && this.getChildrenCount() > 0) {
        setTimeout(() => {
          this.$emit('select-next', this._uid) // select next of level above
        }, keyboardTimeout)
      }
    },
    denominate() {
      this.$axios
        .get(`${process.env.API_HOST}/parser/denominate-part`, {
          params: { designation: this.fullDesignation }
        })
        .then((response) => {
          this.denomination = response.data.denomination
          this.sectionDenomination = response.data.sectionDenomination
          this.examples = response.data.examples
          const d = {}
          Object.assign(d, this.denomination)
          for (const key in d) {
            const maxLen = 44
            if (d[key].length > maxLen - 4) {
              d[key] = d[key].substr(0, maxLen - 4) + ' ...'
            }
          }
          this.denominationShort = d
        })
    },
    showFullDenomination() {
      let message = `<b>${
        this.model.ignoreInDesignation
          ? this.model.denomination[this.$i18n.locale]
          : this.sectionDenomination[this.$i18n.locale]
      }</b><br />`
      if (this.denomination[this.$i18n.locale]) {
        message += this.denomination[this.$i18n.locale]
      }
      if (
        this.examples &&
        this.examples[this.$i18n.locale] &&
        this.examples[this.$i18n.locale].length > 0
      ) {
        message += `${this.t('examples')}:`
        message += '<ul>'
        this.examples[this.$i18n.locale].forEach((e) => {
          message += `<li>${e}</li>`
        })
        message += '</ul>'
      }
      this.$buefy.dialog.alert({
        message,
        canCancel: ['escape', 'outside']
      })
    },
    getSuccessors() {
      const loadingTimeout = setTimeout(() => {
        this.loading = true
      }, 150)
      let designation = this.preceding
      if (!this.model.ignoreInDesignation) {
        designation += this.model.designation
      }
      const params = { designation }
      if (this.model.ignoreInDesignation) {
        params.next = this.model.designation
      }
      return this.$axios
        .get(`${process.env.API_HOST}/crud/get-successors`, { params })
        .then((response) => {
          this.successors = response.data.sort((a, b) => {
            return a.designation.localeCompare(b.designation, this.$i18n.locale, { numeric: true })
          })
          this.isToggleHidden = this.successors.length === 0
          this.loading = false
          clearTimeout(loadingTimeout)
        })
        .catch((error) => {
          this.error = JSON.parse(JSON.stringify(error))
          this.loading = false
          clearTimeout(loadingTimeout)
        })
    },
    getPossibleActions() {
      this.$axios
        .get(`${process.env.API_HOST}/crud/can-delete`, {
          params: {
            designation: this.fullDesignation
          }
        })
        .then((response) => {
          if (response.data === true) {
            this.showDeleteButton = true
          }
        })
      this.$axios
        .get(`${process.env.API_HOST}/crud/can-continue`, {
          params: {
            designation: this.fullDesignation
          }
        })
        .then((response) => {
          if (response.data === true) {
            this.showContinueButton = true
          }
        })
    },
    onDelete() {
      this.$axios
        .get(`${process.env.API_HOST}/crud/delete-designation`, {
          params: {
            designation: this.fullDesignation
          }
        })
        .then((response) => {
          if (response.data) {
            // refresh after delete to delete the deletet item in tree
            this.$router.go()
          }
        })
    },
    onContinue() {
      this.$router.push(
        this.localePath({
          name: 'assistant',
          query: { q: this.fullDesignation }
        })
      )
    }
  }
}
</script>

<style lang="scss" scoped>
$toggle-size: 0.5rem;
$rule-color: $grey-lighter;
$rule-width: 0.0625rem;
$toggle-color: lighten($secondary, 25);

.hierarchy-item {
  &.is-root {
    & > .item {
      & > .toggle {
        display: none !important;
      }

      .item-name {
        font-weight: 700;
        border: 0.0625rem solid $primary;
        padding: 1.25rem 1.5em;
      }
    }

    & > .children {
      margin: 0 !important;

      & > :first-child {
        padding-top: 0.5em;
      }
    }
  }

  &:not(:last-of-type),
  &:first-of-type {
    position: relative;

    &::before {
      content: '';
      z-index: -1;
      display: block;
      width: $rule-width;
      position: absolute;
      top: -0.0625rem;
      left: $toggle-size;
      background-color: $rule-color;
    }
  }

  &:first-of-type {
    &::before {
      min-height: 2 * $toggle-size + 0.0625rem;
    }
  }

  &:not(:last-of-type) {
    &::before {
      height: calc(100% + #{3 * $toggle-size});
    }
  }

  .item {
    display: flex;
    align-items: center;

    &.deactivated {
      pointer-events: none;
      opacity: 0.5;
    }

    .toggle {
      border: $rule-width solid $toggle-color;
      border-radius: $toggle-size / 3;
      font-size: $toggle-size;
      width: 2 * $toggle-size;
      height: 2 * $toggle-size;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 2 * $toggle-size;
      position: relative;
      background-color: lighten($toggle-color, 25);
      color: $toggle-color;
      cursor: pointer;

      &::before {
        content: '';
        z-index: -1;
        display: block;
        width: 2 * $toggle-size;
        height: $rule-width;
        position: absolute;
        top: 50%;
        left: $toggle-size;
        background-color: $rule-color;
      }

      &.hidden {
        border: none;
        color: transparent;
        background-color: transparent;
        pointer-events: none;
      }
    }

    .item-name {
      padding-left: 1em;
      padding-right: 1em;
      height: 2.375rem;
      cursor: pointer;

      &.no-read-designation {
        font-style: italic;
      }
    }

    .denomination {
      margin-left: 1rem;
      font-size: 0.8em;
      font-style: italic;
      color: $grey;
      display: flex;
      align-items: center;
      cursor: pointer;
      white-space: nowrap;
    }

    .actions {
      margin-left: 1rem;
      display: flex;
      align-items: center;
      position: relative;
      z-index: 10;

      $actions-width: 1.75rem;

      &.expanded {
        z-index: 20;

        .actions-toggle {
          background-color: $white-ter;
        }

        .actions-dropdown {
          max-height: 4 * $actions-width;
          box-shadow: 0 0 1rem 0.5rem $white;
        }
      }

      .actions-toggle {
        border: 0.0625rem solid $grey-lighter;
        border-radius: 0.25rem;
        width: $actions-width;
        height: $actions-width;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $grey-light;
        cursor: pointer;
        background-color: $white;
      }

      .actions-dropdown {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 0.0625rem solid $grey-lighter;
        border-radius: 0.25rem;
        width: $actions-width;
        background-color: $white;
        z-index: -1;
        overflow: hidden;
        max-height: $actions-width;
        transition: $transition-default;

        &::before {
          content: '';
          display: block;
          height: $actions-width + 0.125rem;
          width: 100%;
        }

        .action {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 1.25rem;
          margin: 0.125rem;
          cursor: pointer;
        }
      }
    }
  }

  .children {
    margin-left: 4 * $toggle-size;

    & > * {
      margin: 0.375em 0;
    }
  }

  .loading-container {
    margin-left: 4 * $toggle-size;
    font-size: 0.6em;
    width: 3rem;
    height: 3rem;
    position: relative;
  }
}
</style>

<i18n src="~/locale/de/components/plant-structure/HierarchyItem.json" locale="de"></i18n>
<i18n src="~/locale/en/components/plant-structure/HierarchyItem.json" locale="en"></i18n>
