<template>
  <div :class="{ minified }">
    <div class="box">
      <article class="media">
        <div class="media-left">
          <div class="image">
            <div ref="map" class="map"></div>
          </div>
        </div>
        <div class="media-content">
          <div ref="content" class="content" :style="`height: ${contentHeight}px;`">
            <p>
              <span v-if="minified">
                <span class="designation">{{ model.designation }}<br /></span>
                <span class="location">{{ model.location }}<br /></span>
                <span class="author-timestamp">
                  <span v-if="model.author">@{{ model.author }},</span>
                  <span v-if="model.lastModified">
                    {{ $t('edited') }}:
                    {{ model.lastModified | date($i18n.locale) }}
                  </span>
                  <br />
                </span>
              </span>
              <nuxt-link
                v-else
                :to="localePath({ name: 'plant-structure', query: { q: model.designation } })"
              >
                <div class="designation">{{ model.designation }}<br /></div>
                <div class="location">{{ model.location }}<br /></div>
                <div class="author-timestamp">
                  <span v-if="model.author">@{{ model.author }},</span>
                  <span v-if="model.lastModified">
                    {{ $t('edited') }}:
                    {{ model.lastModified | date($i18n.locale) }}
                  </span>
                  <br />
                </div>
              </nuxt-link>
            </p>
            <div ref="comment" class="comment">
              {{ contentExpanded ? model.comment : commentShort }}
            </div>
            <div
              v-if="model.comment.length > commentShort.length"
              class="show-more-button"
              :class="{ expanded: contentExpanded }"
            >
              <div @click="toggleContentExpanded()">
                <b-icon :icon="`chevron-${contentExpanded ? 'up' : 'down'}`" size="is-small" />
              </div>
            </div>
          </div>
          <nav v-if="!minified" class="actions">
            <div>
              <nuxt-link
                :to="
                  localePath({
                    name: 'plant-structure',
                    query: { q: model.designation }
                  })
                "
                class="a details-action"
              >
                {{ $t('show-plant') }}&nbsp;
                <b-icon icon="chevron-right" size="is-small" />
              </nuxt-link>
            </div>
            <div class="spacer"></div>
            <div class="action">
              <b-icon icon="trash" size="is-small" @click.native="onDelete(model.designation)" />
            </div>
          </nav>
        </div>
      </article>
    </div>
    <div ref="commentWidthReference" class="comment-width-reference">
      {{ model.comment }}
    </div>
  </div>
</template>

<script>
import ResizeSensor from 'css-element-queries/src/ResizeSensor'
import MapQuest from '~/libs/MapQuest'

export default {
  filters: {
    date(val, locale) {
      const date = new Date(val)
      return date.toLocaleDateString(locale)
    }
  },
  props: {
    model: {
      type: Object,
      required: true
    },
    minified: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  data() {
    return {
      apiKey: process.env.MAP_QUEST_API_KEY,
      mapquest: null,
      L: null,
      map: null,
      commentShort: '',
      contentExpanded: false,
      contentHeight: 100
    }
  },
  mounted() {
    this.loadMap()
    this.computeCommentShort()
    // eslint-disable-next-line no-new
    new ResizeSensor(this.$refs.comment, this.computeCommentShort)
  },
  methods: {
    loadMap() {
      this.mapquest = new MapQuest(this.apiKey, this.$axios)
      this.mapquest.load(this.initMap)
    },
    initMap() {
      // eslint-disable-next-line no-undef
      this.L = L

      // create map
      this.L.mapquest.key = this.apiKey
      this.map = this.L.mapquest.map(this.$refs.map, {
        center: [this.model.lat, this.model.lng],
        layers: this.L.mapquest.tileLayer('map', { noWrap: true }),
        zoom: 3,
        zoomControl: false
      })

      // marker
      this.L.marker([this.model.lat, this.model.lng], { draggable: false }).addTo(this.map)
    },
    computeCommentShort() {
      let commentShort = this.model.comment
      const avgletterWidth =
        this.$refs.commentWidthReference.offsetWidth / this.model.comment.length
      const maxLength = this.$refs.comment.offsetWidth / (0.5 * avgletterWidth) - 16
      if (commentShort.length > maxLength) {
        commentShort = commentShort.substr(0, maxLength - 4) + ' ...'
      }
      this.commentShort = commentShort
    },
    toggleContentExpanded() {
      this.contentExpanded = !this.contentExpanded
      let tmp = 0
      this.contentHeight = this.$refs.content.offsetHeight
      const offset = 16
      const interval = setInterval(
        () => {
          if (this.contentExpanded) {
            const comment = this.$refs.comment
            if (comment.offsetHeight === tmp) {
              clearInterval(interval)
            } else {
              this.contentHeight += offset
              tmp = comment.offsetHeight
            }
          } else {
            const content = this.$refs.content
            if (content.offsetHeight === tmp) {
              clearInterval(interval)
            } else {
              this.contentHeight -= 2 * offset
              tmp = content.offsetHeight
            }
          }
        },
        window.innerWidth > 1024 ? 10 : 5
      )
    },
    onDelete(plantDesignation) {
      this.$buefy.dialog.confirm({
        title: this.$t('deleteTitle'),
        message: this.$t('delete'),
        cancelText: this.$t('no'),
        confirmText: this.$t('yes'),
        type: 'is-success',
        onConfirm: () => {
          this.$axios
            .get(`${process.env.API_HOST}/crud/delete-designation`, {
              params: {
                designation: plantDesignation
              }
            })
            .then((response) => {
              if (response.data) {
                // refresh after delete to delete the deletet item in tree
                this.$router.go()
              }
            })
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
$imageHeight: 12.5em;
$imageHeightMobile: 10em;
$imageHeightMinified: 9.25em;

.minified {
  .media-left {
    height: $imageHeightMinified;
  }

  .media-content {
    min-height: $imageHeightMinified;
  }
}

.media-left {
  width: $imageHeight;
  height: $imageHeight;

  .image {
    width: 100%;
    height: 100%;

    .map {
      width: 100%;
      height: 100%;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 500;
        box-shadow: inset 0 0 1em $grey;
      }
    }
  }
}

.media-content {
  min-height: $imageHeight;
  display: flex;
  flex-direction: column;
  overflow: unset !important;

  .content {
    flex-grow: 1;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    .designation {
      font-weight: 700;
    }

    .location {
      font-size: 0.9em;
    }

    .author-timestamp {
      font-size: 0.9em;
    }

    .comment {
      font-style: italic;
      overflow-y: hidden;
      color: $grey;
    }

    .show-more-button {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 1px;
      background-image: linear-gradient(90deg, transparent, $grey-lighter, transparent);
      display: flex;
      align-items: center;
      justify-content: center;

      & > * {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $white;
        border: 0.0625em solid $grey-lighter;
        border-radius: 50%;
        width: 2em;
        height: 2em;
        cursor: pointer;

        & > * {
          margin-top: 0.125em;
        }
      }

      &.expanded > * > * {
        margin-top: 0 !important;
      }
    }
  }
}

.actions {
  display: flex;
  margin-top: 0.5em;

  .details-action {
    display: flex;
    align-items: center;
  }

  .spacer {
    flex-grow: 1;
  }

  .action {
    width: 2em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.25em;
    cursor: pointer;
  }
}

.comment-width-reference {
  position: fixed;
  top: 200%;
  left: 200%;
  white-space: nowrap;
}

@include mobile {
  .media {
    flex-direction: column;

    .media-left {
      height: $imageHeightMobile;
      width: 100% !important;
      margin-right: 0 !important;
      margin-bottom: 1em;

      .image {
        width: 100%;
      }
    }
  }
}
</style>

<i18n src="~/locale/de/components/plant-structure/Plant.json" locale="de"></i18n>
<i18n src="~/locale/en/components/plant-structure/Plant.json" locale="en"></i18n>
