<template>
  <div class="plant-map-component">
    <div ref="map" class="map"></div>
  </div>
</template>

<script>
import MapQuest from '~/libs/MapQuest'

export default {
  props: {
    plants: {
      type: Array,
      required: true
    }
  },
  data() {
    return {
      apiKey: process.env.MAP_QUEST_API_KEY,
      mapquest: null,
      L: null,
      map: null,
      markers: []
    }
  },
  watch: {
    plants: {
      deep: true,
      handler(val, old) {
        if (!this.map) return
        this.setMarkers(val)
      }
    }
  },
  mounted() {
    this.loadMap()
  },
  methods: {
    loadMap() {
      this.mapquest = new MapQuest(this.apiKey, this.$axios)
      this.mapquest.load(this.initMap)
    },
    initMap() {
      // eslint-disable-next-line no-undef
      this.L = L

      // create map
      this.L.mapquest.key = this.apiKey
      this.map = this.L.mapquest.map(this.$refs.map, {
        center: [35, 0],
        layers: this.L.mapquest.tileLayer('map', { noWrap: true }),
        zoom: 3,
        zoomControl: false
      })

      // add markers
      this.setMarkers(this.plants)
    },
    setMarkers(plants) {
      // remove old markers
      this.markers.forEach((m) => {
        m.remove()
      })
      this.markers = []
      // add markers according to plants
      plants.forEach((p) => {
        const marker = this.L.marker([p.lat, p.lng], { draggable: false }).addTo(this.map)
          .bindPopup(`
            <b>${p.designation}</b>
            <br /><i>${p.location}</i>
            <br /><br /><a class="a" href="${this.localePath({
              name: 'plant-structure',
              query: { q: p.designation }
            })}">&gt; ${this.$t('show-plant')}</a>
          `)
        this.markers.push(marker)
      })
      // make map show all markers
      if (this.markers.length > 0) {
        let latMin = 90
        let latMax = -90
        let lngMin = 180
        let lngMax = -180
        this.markers.forEach((m) => {
          const lat = m.getLatLng().lat
          const lng = m.getLatLng().lng
          if (lat < latMin) latMin = lat
          if (lat > latMax) latMax = lat
          if (lng < lngMin) lngMin = lng
          if (lng > lngMax) lngMax = lng
        })
        this.map.fitBounds([
          [latMin - 2, lngMin - 2],
          [latMax + 2, lngMax + 2]
        ])
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.plant-map-component {
  flex-grow: 1;
  display: flex;

  .map {
    flex-grow: 1;
  }
}
</style>

<i18n src="~/locale/de/components/plant-structure/Plant.json" locale="de"></i18n>
<i18n src="~/locale/en/components/plant-structure/Plant.json" locale="en"></i18n>
