<template>
  <div>
    <div class="title is-3">
      {{ $t('coordinates.title') }}
    </div>
    <div class="infos">
      <div class="lat-lng">
        <b-field :label="$t('coordinates.latitude')" type="is-dark">
          <div class="coordinate">
            <b-numberinput
              v-model="lat"
              min="-90"
              max="90"
              step="0.01"
              :controls="false"
              class="num-input"
              @input="manualLatLngHandler"
            />
            <div class="cardinal-direction">° N</div>
          </div>
        </b-field>
        <b-field :label="$t('coordinates.longitude')" type="is-dark">
          <div class="coordinate">
            <b-numberinput
              v-model="lng"
              min="-180"
              max="180"
              step="0.01"
              :controls="false"
              class="num-input"
              @input="manualLatLngHandler"
            />
            <div class="cardinal-direction">° E</div>
          </div>
        </b-field>
      </div>
      <div class="location">
        <b-field :label="$t('coordinates.location')" type="is-dark">
          <b-input v-model="location" readonly />
        </b-field>
      </div>
    </div>
    <div ref="map" class="map"></div>
  </div>
</template>

<script>
import MapQuest from '~/libs/MapQuest'

export default {
  data() {
    return {
      apiKey: process.env.MAP_QUEST_API_KEY,
      mapquest: null,
      location: '',
      lat: 48.34,
      lng: 8.23,
      zoom: 4,
      map: null,
      marker: null,
      L: null,
      watchTimeout: null
    }
  },
  mounted() {
    this.emitSelection()
    this.loadMap()
  },
  methods: {
    loadMap() {
      this.mapquest = new MapQuest(this.apiKey, this.$axios)
      this.mapquest.load(this.initMap)
    },
    initMap() {
      // global L (Leaflet) object that get populated when mapquest.js was loaded
      // eslint-disable-next-line no-undef
      this.L = L

      // create map
      this.L.mapquest.key = this.apiKey
      this.map = this.L.mapquest.map(this.$refs.map, {
        center: [this.lat, this.lng],
        layers: this.L.mapquest.tileLayer('map', { noWrap: true }),
        zoom: this.zoom,
        maxBounds: [
          [-90, -180],
          [90, 180]
        ]
      })

      // create marker
      this.marker = this.L.marker([this.lat, this.lng], { draggable: false }).addTo(this.map)
      this.L.DomUtil.addClass(this.marker._icon, 'my-great-marker')

      // add event listeners
      this.map.on('move', this.moveMarker)
      this.map.on('moveend', () => {
        this.moveMarker()
        this.geocode()
      })

      // get location name of initial coordinates
      this.geocode()
    },
    moveMarker() {
      // keep marker in center of map
      const center = this.map.getCenter()
      this.lat = parseFloat(center.lat.toFixed(2))
      this.lng = parseFloat(center.lng.toFixed(2))
      this.marker.setLatLng([center.lat, center.lng])
      this.emitSelection()
    },
    manualLatLngHandler(val) {
      if (val >= -90 && val <= 90) {
        if (this.watchTimeout) {
          clearTimeout(this.watchTimeout)
        }
        this.watchTimeout = setTimeout(() => {
          this.map.setView([this.lat, this.lng])
        }, 1000)
      }
    },
    geocode() {
      this.mapquest.geocoding
        .reverse(this.lat, this.lng, this.$nuxt.$i18n.locales, this.$i18n.locale)
        .then((response) => {
          try {
            const l = response.data.results[0].locations[0]
            let location = l.adminArea5 // city
            if (l.adminArea3) location += (location ? ', ' : '') + l.adminArea3 // state
            if (l.adminArea1) location += (location ? ' ' : '') + '(' + l.adminArea1 + ')' // ISO country code
            this.location = location
          } catch (_) {}
        })
    },
    emitSelection() {
      // ensure values are in range:
      // E/W: [-180;180]
      // N/S: [-90;90]
      let lat = this.lat
      let lng = this.lng
      while (lat > 90) lat -= 180
      while (lat < -90) lat += 180
      while (lng > 180) lng -= 360
      while (lng < -180) lng += 360

      // emit event with current lat/lng
      this.$emit('selection', [lat.toFixed(2), lng.toFixed(2)])
    }
  }
}
</script>

<style lang="scss" scoped>
.infos {
  display: flex;
  flex-direction: row;

  .lat-lng {
    display: flex;

    & > *:not(:last-child) {
      margin-right: 1em;
      margin-bottom: 0;
    }

    .coordinate {
      display: flex;

      .num-input {
        flex-grow: 1;
      }

      .cardinal-direction {
        align-self: center;
        margin-left: 0.5em;
      }
    }
  }

  .location {
    height: 100%;
    font-weight: bold;
  }
}

.map {
  @include frame;
  width: 100%;
  height: 60vh;
  margin-top: 2em;
}

@include mobile {
  .infos {
    flex-direction: column;

    .lat-lng {
      justify-content: stretch;

      & > * {
        flex-grow: 1;
      }
    }
  }
}

@include desktop {
  .infos {
    .lat-lng {
      & > *:not(:last-child) {
        margin-right: 2em;
      }
    }

    .location {
      margin-left: 2em;
      align-self: flex-end;
      flex-grow: 1;
    }
  }
}
</style>

<i18n src="~/locale/de/components/assistant/Selections.json" locale="de"></i18n>
<i18n src="~/locale/en/components/assistant/Selections.json" locale="en"></i18n>
