<template>
  <div class="section has-text-centered">
    <p class="title is-5">
      {{ $t('finalMessage') }}
    </p>
    <br />
    <p>
      <i>{{ $t('finalMessageElaborated') }}</i>
    </p>
  </div>
</template>

<script>
export default {
  props: {
    input: {
      type: Object,
      required: true
    }
  }
}
</script>

<style lang="scss" scoped></style>

<i18n src="~/locale/de/components/assistant/assistantGeneral.json" locale="de"></i18n>
<i18n src="~/locale/en/components/assistant/assistantGeneral.json" locale="en"></i18n>
