<template>
  <div>
    <ul class="selection">
      <b-field>
        <b-input v-model="filter" :placeholder="$t('search')" />
      </b-field>
      <div v-if="input.proposalList == null" class="title is-4">
        {{ $t('listSelection.noProposals') }}
      </div>
      <hr />
      <li
        v-for="(proposal, i) in filteredList"
        :key="i"
        :value="proposal.code"
        :class="{ selected: proposal.code == selected }"
        @click="select(proposal)"
      >
        <div v-if="proposal.code.length < 6" class="code">
          {{ proposal.code }}
        </div>
        <div class="denomination">
          {{ proposal.denomination[$i18n.locale] }}
        </div>
      </li>
    </ul>
    <br />
  </div>
</template>

<script>
export default {
  props: {
    input: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      selected: '',
      filter: ''
    }
  },
  computed: {
    filteredList() {
      if (!this.input.proposalList) {
        return []
      }
      if (this.filter) {
        const list = []
        this.input.proposalList.forEach((p) => {
          const s = p.code + ' ' + p.denomination[this.$i18n.locale]
          if (s.toLowerCase().includes(this.filter.toLowerCase())) {
            list.push(p)
          }
        })
        return list
      }
      return this.input.proposalList
    }
  },
  watch: {
    input: {
      handler(val, old) {
        if (JSON.stringify(val) !== JSON.stringify(old)) {
          this.selected = ''
        }
      }
    }
  },
  mounted() {
    document.addEventListener('keydown', this.onKeydown)
  },
  beforeDestroy() {
    document.removeEventListener('keydown', this.onKeydown)
  },
  methods: {
    select(proposal) {
      this.selected = proposal.code
      this.$emit('selection', this.selected)
    },
    onKeydown(e) {
      if (this.selected === '') {
        this.select(this.filteredList[0])
        return
      }
      if (this.selected && ['ArrowUp', 'ArrowDown'].includes(e.key)) {
        e.preventDefault()
        e.stopPropagation()
        for (let i = 0; i < this.filteredList.length; i++) {
          if (this.filteredList[i].code === this.selected) {
            switch (e.key) {
              case 'ArrowUp':
                if (i !== 0) {
                  this.select(this.filteredList[i - 1])
                }
                break
              case 'ArrowDown':
                if (i !== this.filteredList.length - 1) {
                  this.select(this.filteredList[i + 1])
                }
                break
            }
            break
          }
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
ul.selection {
  font-size: 20px;
  div.title {
    margin: 2em;
    color: red;
  }
  li {
    display: flex;
    @include select-item;
    cursor: pointer;

    &:not(:last-of-type) {
      margin-bottom: 0.25em;
    }

    &.selected {
      background-color: $dark;
      color: $light;
    }

    .code {
      min-width: 4em;
      margin-right: 0.5em;
      font-weight: 650;
    }
  }
}

@include mobile {
  ul.selection {
    li {
      flex-direction: column;
      align-items: center;
      width: 100%;

      .code {
        width: unset;
        margin: 0;
      }
    }
  }
}
</style>

<i18n src="~/locale/de/components/assistant/Selections.json" locale="de"></i18n>
<i18n src="~/locale/en/components/assistant/Selections.json" locale="en"></i18n>
