<template>
  <div>
    <div class="title is-3">
      {{ $t('userInput.title') }}
    </div>
    <div class="input-container">
      <b-field
        type="is-error"
        class="user-input"
        :class="{ 'is-hidden': !showStringInput }"
        :label="$t('userInput.stringLength') + input.dataInputLength[0]"
      >
        <b-input
          ref="userInputString"
          v-model="userInputString"
          :maxlength="input.dataInputLength[0]"
          :minlength="input.dataInputLength[0]"
          :controls="false"
          spellcheck="false"
        ></b-input>
      </b-field>
      <b-field
        type="is-error"
        class="user-input"
        :class="{ 'is-hidden': !showNumberInput }"
        :label="$t('userInput.numbersLength') + numberInputLength"
      >
        <b-input
          ref="userInputNumber"
          v-model="userInputNumber"
          :maxlength="numberInputLength"
          :minlength="numberMinInputLength"
          :controls="false"
          spellcheck="false"
        ></b-input>
      </b-field>
      <hr />
      <div>
        <ul v-if="showListHelp" class="selection">
          <li v-for="(proposal, i) in input.proposalList" :key="i" :value="proposal.code">
            <div v-if="proposal.code.length < 6" class="code">
              {{ proposal.code }}
            </div>
            <div class="denomination">
              {{ proposal.denomination[$i18n.locale] }}
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    input: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      userInputNumber: '',
      userInputString: '',
      userNumberInput: 0,
      labelPosition: 'over-border',
      numberInputLength: 1,
      numberMinInputLength: 1,
      inputComplete: true
    }
  },
  computed: {
    showStringInput() {
      return [3, 5, 8].includes(this.input.dataInputType)
    },
    showNumberInput() {
      return [4, 5, 8].includes(this.input.dataInputType)
    },
    showListHelp() {
      return [8].includes(this.input.dataInputType)
    }
  },
  watch: {
    userInputString() {
      this.userInputString = this.userInputString.toUpperCase()
    },
    input: {
      handler() {
        this.userInputNumber = ''
        this.userInputString = ''
        this.loadNumberInputLength()
      }
    }
  },
  mounted() {
    this.loadNumberInputLength()
    if (this.$refs.userInputNumber !== undefined) {
      const userInputNumber = this.$refs.userInputNumber.$el.querySelector('input')
      userInputNumber.addEventListener('keydown', this.insertNumberInput)
      userInputNumber.addEventListener('keyup', this.emitSelection)
    }
    if (this.$refs.userInputString !== undefined) {
      const userInputString = this.$refs.userInputString.$el.querySelector('input')
      userInputString.addEventListener('keydown', this.insertLetterInput)
      userInputString.addEventListener('keyup', this.emitSelection)
    }
  },
  methods: {
    insertNumberInput(e) {
      if (
        !/[0-9]/.test(e.key) &&
        ![8, 9, 16, 17, 37, 38, 39, 40].includes(
          e.keyCode
        ) /* backspace, tab, shift, control, and arrows */
      ) {
        e.preventDefault()
      }
    },
    insertLetterInput(e) {
      if (!/[a-z]/.test(e.key) && !/[A-Z]/.test(e.key) && e.keyCode !== 8 /* backspace */) {
        e.preventDefault()
      }
    },
    emitSelection() {
      // check if input is complete to enter next step
      if ([3, 4].includes(this.input.dataInputType)) {
        if (
          this.userInputNumber.length + this.userInputString.length >=
          this.input.dataInputLength[0]
        ) {
          this.inputComplete = false
        } else {
          this.inputComplete = true
        }
      } else if ([5, 8].includes(this.input.dataInputType)) {
        if (this.input.dataInputLength[0] + this.input.dataInputLength[1] === 18) {
          if (this.userInputNumber.length + this.userInputString.length >= 1) {
            this.inputComplete = false
          } else {
            this.inputComplete = true
          }
        } else if (
          this.userInputString.length >= this.input.dataInputLength[0] &&
          this.userInputNumber.length >= 1
        ) {
          this.inputComplete = false
        } else {
          this.inputComplete = true
        }
      }
      this.$emit('selection', this.userInputString + this.userInputNumber)
      this.$emit('nextStepDisabled', this.inputComplete)
    },
    loadNumberInputLength() {
      if (this.input.dataInputLength.length > 1) {
        this.numberInputLength = this.input.dataInputLength[1]
        this.numberMinInputLength = 1
      } else {
        this.numberInputLength = this.input.dataInputLength[0]
        this.numberMinInputLength = this.input.dataInputLength[0]
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.input-container {
  margin: 3em 0;
  padding: 10px;
  display: flex;
  flex-direction: row;
  display: flex;
  border: 0px;
  box-shadow: 0px;

  .user-input {
    width: 50%;
    max-width: 20rem;
  }

  & > *:not(:last-child) {
    margin-right: 1em;
    margin-bottom: 0;
  }
  .num-input {
    flex-grow: 1;
  }

  ul.selection {
    font-size: 20px;
    li {
      display: flex;
      @include select-item;
      cursor: pointer;

      &:not(:last-of-type) {
        margin-bottom: 0.25em;
      }
      .code {
        min-width: 4em;
        margin-right: 0.5em;
        font-weight: 650;
      }
    }
  }

  @include mobile {
    ul.selection {
      li {
        flex-direction: column;
        align-items: center;
        width: 100%;

        .code {
          width: unset;
          margin: 0;
        }
      }
    }
  }
}
</style>

<i18n src="~/locale/de/components/assistant/Selections.json" locale="de"></i18n>
<i18n src="~/locale/en/components/assistant/Selections.json" locale="en"></i18n>
