// .container width = $device - (2 * $gap)
// default: $gap = 32px
$gap: 128px;

// dashboard
$header-height: 3.25rem;
$dashboard-color: $dark;
$dashboard-background-color: $white-ter;
$dashboard-border: 0.0625rem solid $grey-light;
$aside-width-desktop: 17.5rem;
$aside-width-touch: calc(100% - #{$header-height});
$aside-width-touch-negative: calc(-100% + #{$header-height});
