$transition-default-duration: 0.25s;
$transition-default-property: all;
$transition-default-function: ease;
$transition-default: $transition-default-property $transition-default-duration $transition-default-function;

$default-scale-factor: 1.1;
