html,
body {
  scroll-behavior: smooth;
}

.a {
  color: $blue !important;
  display: inline-block;
  position: relative;
  cursor: pointer;

  &:hover {
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 0.0625rem;
      background-color: $blue;
      animation: link-animation 0.25s ease-in-out;
    }
  }
}

.underline {
  position: relative;

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0.0625rem;
    background-color: $dark;
  }
}

input[readonly] {
  background-color: $white-ter;
  color: $grey;
}

@keyframes link-animation {
  0% {
    left: 50%;
    width: 0;
  }

  100% {
    left: 0;
    width: 100%;
  }
}

.dialog {
  .modal-card {
    padding: 1em;
    @include tablet {
      min-width: 42rem !important;
    }

    .modal-card-title {
      max-width: 100%;
    }

    .modal-card-head {
      background-color: $white;
    }

    .modal-card-body {
      .media {
        display: flex;
        align-items: flex-start;
        max-width: 100%;

        .media-left {
          margin: 0.5rem 2rem 0.5rem 1rem;
        }

        .media-content {
          align-self: center;
        }
      }
    }

    .modal-card-foot {
      background-color: $white;
      border: none !important;
      padding: 0 1em 1em 1em;
    }
  }
}

.modal {
  z-index: 10000 !important;
}
