.sticky-footer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &>.sticky-footer-grow {
    flex: 1 0 auto;
    display: flex;
  }

  &>*:not(.sticky-footer-grow) {
    flex-shrink: 0;
  }
}

.page-title {
  @extend .title;
  font-size: 2.5rem;
  margin-bottom: 3rem !important;

  // @supports (-webkit-text-stroke: 1px black) {
  //   color: black;
  //   -webkit-text-fill-color: $info;
  //   /* Will override color (regardless of order) */
  //   -webkit-text-stroke-width: 1px;
  //   -webkit-text-stroke-color: black;
  //   font-weight: 900;
  // }

  // font-weight: 100;
  // text-transform: uppercase;
  // color: $info;
  // font-style: italic;
  // text-shadow: 2px 5px 0 #0003;

  @include mobile {
    font-size: 2rem;
  }
}
