* {
  -webkit-tap-highlight-color: transparent;
}

html,
body,
.container {
  // min-width: 320px !important;
}

@include touch {
  .container {
    max-width: 100vw !important;
  }
}

.media {
  flex-grow: 1;

  .media-content {
    max-width: 100%;
  }
}

.modal {
  &.is-light {
    .modal-content {
      background-color: $white;

      button.modal-close {
        &::before,
        &::after {
          background-color: $grey;
        }

        &:hover {
          &::before,
          &::after {
            background-color: $white;
          }
        }
      }
    }
  }
}

.icon svg {
  height: auto !important;
}
