<template>
  <div>
    <div
      class="drag-area"
      :class="{ dragover, clickable }"
      @dragenter.prevent="dragover = true"
      @dragover.prevent="dragover = dragover"
      @dragleave="dragover = false"
      @drop.prevent="onDrop"
      @click="onAreaClick"
    >
      <div class="inner is-family-monospace">
        {{ $t('drop-here') }}
        <div v-if="clickable && !withButton" class="click-hint">
          <br />
          ( {{ $t('click-to-select') }} )
        </div>
      </div>
    </div>
    <div
      v-if="withButton || clickable"
      class="upload-button-container"
      :class="{ 'is-hidden': clickable && !withButton }"
    >
      <b-upload ref="uploadBtn" @input="onInput">
        <span class="button">
          <b-icon icon="file" size="is-small" />
          &nbsp;&nbsp;
          {{ $t('select-file') }}
        </span>
      </b-upload>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    withButton: {
      type: Boolean,
      required: false,
      default: false
    },
    clickable: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  data() {
    return {
      dragover: false
    }
  },
  methods: {
    onAreaClick() {
      if (!this.clickable) return
      this.$refs.uploadBtn.$el.click()
    },
    onDrop(e) {
      this.dragover = false
      this.$emit('droped')
      if (event.dataTransfer.files && event.dataTransfer.files[0]) {
        this.$emit('input', event.dataTransfer.files[0])
      }
    },
    onInput(file) {
      this.$emit('input', file)
    }
  }
}
</script>

<style lang="scss" scoped>
.drag-area {
  @include frame;
  width: 100%;
  min-height: 20em;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  background-color: $white-ter;
  padding: 0.5em;
  transition: $transition-default;

  &.dragover {
    background-color: $white;
    padding: 1em;

    .inner {
      color: $dark;
    }
  }

  &.clickable {
    cursor: pointer;
  }

  .inner {
    font-size: 2em;
    border: 0.125rem dashed $grey-light;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    pointer-events: none;
    color: $grey;
    transition: $transition-default;

    .click-hint {
      font-size: 0.9rem;
    }
  }
}

.upload-button-container {
  text-align: right;
  margin-top: 1em;
}
</style>

<i18n src="~/locale/de/components/DropArea.json" locale="de"></i18n>
<i18n src="~/locale/en/components/DropArea.json" locale="en"></i18n>
