<template>
  <div>
    <div class="file-component">
      <div class="file-icon">
        <b-icon :icon="icon" :class="color" class="icon" />
      </div>
      <div class="text">
        <div class="filename">{{ filename }}</div>
        <div class="filesize">{{ filesize }}</div>
        <div class="timstamp">{{ date }}</div>
      </div>
    </div>
    <div class="clear-both"></div>
  </div>
</template>

<script>
export default {
  props: {
    // eslint-disable-next-line vue/require-prop-types
    data: {
      required: true
    }
  },
  computed: {
    filename() {
      return this.data.name
    },
    filesize() {
      // https://stackoverflow.com/questions/15900485/correct-way-to-convert-size-in-bytes-to-kb-mb-gb-in-javascript
      const bytes = parseInt(this.data.size)
      if (bytes === 0) return '0 Bytes'
      const decimals = 2
      const k = 1024
      const dm = decimals < 0 ? 0 : decimals
      const sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB']
      const i = Math.floor(Math.log(bytes) / Math.log(k))
      return parseFloat((bytes / k ** i).toFixed(dm)) + ' ' + sizes[i]
    },
    date() {
      return new Date(this.data.lastModified).toISOString().replace('T', ' ').substr(0, 19)
    },
    icon() {
      const ext = this.data.name.substr(this.data.name.lastIndexOf('.') + 1).toLowerCase()
      switch (ext) {
        case 'pdf':
          return 'file-pdf'
        case 'docx':
          return 'file-word'
        case 'xlsx':
          return 'file-excel'
        case 'pptx':
          return 'file-powerpoint'
        case 'jpg':
        case 'jpeg':
        case 'png':
        case 'gip':
          return 'file-image'
        case 'mp3':
          return 'file-audio'
        case 'mp4':
          return 'file-video'
        case 'zip':
        case '7z':
          return 'file-archive'
        default:
          return 'file'
      }
    },
    color() {
      const ext = this.data.name.substr(this.data.name.lastIndexOf('.') + 1).toLowerCase()
      switch (ext) {
        case 'pdf':
        case 'pptx':
          return 'red'
        case 'docx':
        case 'mp3':
        case 'mp4':
          return 'blue'
        case 'xlsx':
        case 'jpg':
        case 'jpeg':
        case 'png':
        case 'gip':
          return 'green'
        default:
          return 'black'
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.file-component {
  display: flex;
  align-items: center;
  padding: 0.5em 1em;

  & > * {
    display: block;
  }

  .text {
    .filename {
      font-weight: 600;
    }

    .filesize {
      color: $grey;
    }

    .timstamp {
      color: $grey;
    }
  }

  .file-icon {
    font-size: 3em;
    align-self: stretch;
    margin-right: 1rem;

    .icon {
      display: block;
      &.red {
        color: darken($red, 15);
      }
      &.blue {
        color: darken($info, 15);
      }
      &.green {
        color: darken($green, 15);
      }
    }
  }
}
</style>
