<template>
  <page>
    <template slot="title">
      {{ $t('pages.add') }}
    </template>

    <!-- ================================================================ -->

    <div class="user-input">
      <b-field :label="$t('designation')">
        <b-input
          v-model="designation"
          expanded
          :placeholder="$t('designation-placeholder')"
          @input="designation = designation.toUpperCase()"
        />
      </b-field>
      <b-field :label="$t('author')">
        <b-input v-model="author" expanded :placeholder="$t('author-placeholder')" />
      </b-field>
      <b-field :label="$t('comment')">
        <b-input
          v-model="comment"
          type="textarea"
          rows="3"
          expanded
          :placeholder="$t('comment-placeholder')"
        />
      </b-field>
    </div>

    <!-- ================================================================ -->

    <div :class="{ 'is-hidden': !showDocumentUpload }" class="ftp-upload-container">
      <drop-area clickable class="drop-area" @input="onDocumentInput" />
      <div class="file-elements">
        <div ref="fileElementExisting" class="file-element">
          <div>{{ $t('ftp.existing') }}</div>
          <div>
            <file v-if="existingDocument" :data="existingDocument" />
            <file v-else :data="{ name: '-', size: 0, lastModified: new Date(0) }" />
          </div>
        </div>
        <div class="flex-grow">
          <div v-if="existingDocument && newDocument" class="replace-hint">
            <b-icon icon="arrow-right" class="icon" />
            <div>
              <b-tooltip
                :label="$t('ftp.override-hint', [existingDocument.name, newDocument.name])"
                position="is-bottom"
                multilined
                dashed
              >
                {{ $t('ftp.gets-replaced-with') }}
                <b-icon
                  icon="info-circle"
                  size="is-small"
                  class="has-margin-top-auto has-margin-bottom-auto"
                />
              </b-tooltip>
            </div>
          </div>
        </div>
        <div v-if="newDocument" class="file-element new">
          <div>{{ $t('ftp.new') }}</div>
          <div>
            <file :data="newDocument" />
          </div>
          <div class="remove-file-icon" @click="newDocument = null">
            <b-icon icon="times" />
          </div>
        </div>
      </div>
    </div>

    <!-- ================================================================ -->

    <div class="has-text-right">
      <b-button
        type="is-success"
        icon-left="save"
        :disabled="designation.length < 2"
        @click="save()"
      >
        {{ $t('save') }}
      </b-button>
    </div>

    <hr />

    <!-- ================================================================ -->

    <div>
      <b-button @click="showCsvImportModal = true">
        {{ $t('csv-import') }}
      </b-button>
    </div>

    <b-modal
      :active.sync="showCsvImportModal"
      full-screen
      animation="zoom-out"
      class="csv-import-modal is-light"
    >
      <div class="csv-modal-content container">
        <div class="page-title">
          {{ $t('csv-import') }}
        </div>
        <br />
        <b-message type="is-warning">
          <b>{{ $t('modal.attention') }}:</b>
          {{ $t('modal.message') }}
        </b-message>
        <br />
        <pre>{{ $t('csv-format') }}<br />{{ $t('csv-example') }}</pre>
        <br />
        <drop-area with-button @input="onCsvInput" />
      </div>
    </b-modal>

    <!-- ================================================================ -->
  </page>
</template>

<script>
import Page from '~/layout/default'
import DropArea from '~/components/DropArea'
import File from '~/components/File'

export default {
  components: {
    Page,
    DropArea,
    File
  },
  data() {
    return {
      designation: this.$route.query.q || '',
      author: '',
      comment: '',
      showCsvImportModal: false,
      showDocumentUpload: false,
      existingDocument: null,
      newDocument: null
    }
  },
  watch: {
    designation() {
      this.checkIsDocument()
    }
  },
  mounted() {
    this.checkIsDocument()
  },
  methods: {
    reset() {
      this.designation = ''
      this.author = ''
      this.comment = ''
      this.newDocument = null
      this.existingDocument = null
    },
    save(override = false) {
      if (this.designation.trim() === '') {
        this.response = null
        return
      }
      this.response = null
      this.$axios
        .post(`${process.env.API_HOST}/crud/save`, {
          designation: this.designation,
          override,
          author: this.author,
          comment: this.comment
        })
        .then((response) => {
          this.$buefy.toast.open({
            message: this.$t('success'),
            type: 'is-success',
            position: 'is-bottom',
            duration: 2000
          })
          this.uploadCall()
          this.reset()
        })
        .catch((error) => {
          if (!error.response) {
            // network error
            this.$buefy.toast.open({
              message: error.message,
              type: 'is-danger',
              position: 'is-bottom',
              duration: 2000
            })
          } else {
            switch (error.response.status) {
              case 409: {
                // conflict
                const d = error.response.data
                let message = `<p>${this.$t('dialog.override.message-1')}</p>`
                message += `
                  <table class="table is-bordered is-fullwidth has-margin-top-10 has-margin-bottom-10">
                    <tr>
                      <td style="min-width:12.5rem;"><b>${this.$t('designation')}</b></td>
                      <td style="min-width:15em;"><i>${d.fullDesignation}</i></td>
                    </tr>
                    <tr>
                      <td><b>${this.$t('affected-section')}</b>
                      </td><td style="min-width:10em;"><i>${d.designation}</i></td>
                    </tr>
                    <tr>
                      <td><b>${this.$t('author')}</b></td>
                      <td><i>${d.author}</i></td>
                    </tr>
                    <tr>
                      <td><b>${this.$t('comment')}</b></td>
                      <td><i>${d.comment}</i></td>
                    </tr>
                    <tr>
                      <td><b>${this.$t('last-modified')}</b></td>
                      <td><i>${new Date(d.lastModified).toLocaleString(this.$i18n.locale)}</i></td>
                    </tr>
                  </table>
                  `
                message += `<p>${this.$t('dialog.override.message-2')}</p>`
                this.$buefy.dialog.confirm({
                  title: this.$t('dialog.override.title'),
                  message,
                  type: 'is-warning',
                  hasIcon: true,
                  confirmText: this.$t('dialog.override.yes'),
                  cancelText: this.$t('dialog.override.no'),
                  focusOn: 'confirm',
                  trapFocus: true,
                  onConfirm: () => {
                    this.uploadCall()
                    this.save(true)
                  }
                })
                break
              }
              case 400: {
                // bad request
                this.$buefy.toast.open({
                  message: this.$t('error.invalid-designation'),
                  type: 'is-danger',
                  position: 'is-bottom',
                  duration: 2000
                })
                break
              }
              default:
                this.$buefy.toast.open({
                  message: error.response.message,
                  type: 'is-danger',
                  position: 'is-bottom',
                  duration: 2000
                })
            }
          }
        })
    },
    checkIsDocument() {
      this.$axios
        .get(`${process.env.API_HOST}/ftp/is-document`, {
          params: { designation: this.designation }
        })
        .then((response) => {
          if (response.data === true) {
            this.showDocumentUpload = true
            const loading = this.$buefy.loading.open({
              container: this.$refs.fileElementExisting,
              isFullPage: false,
              canCancel: false
            })
            // check if document exists
            this.$axios
              .get(`${process.env.API_HOST}/ftp/exists`, {
                params: { designation: this.designation }
              })
              .then((response) => {
                loading.close()
                if (typeof response.data === 'boolean') {
                  if (response.data === true) {
                    // document isnt in db yet
                  }
                } else {
                  // show document
                  this.existingDocument = response.data
                }
              })
          } else {
            this.showDocumentUpload = false
            this.existingDocument = null
          }
        })
    },
    onDocumentInput(file) {
      this.newDocument = file
    },
    uploadCall() {
      if (!this.newDocument) return
      const data = new FormData()
      data.append('designation', this.designation)
      data.append('override', true)
      data.append('file', this.newDocument)
      this.$axios
        .post(`${process.env.API_HOST}/ftp/upload`, data)
        .then((_) => {
          this.$buefy.toast.open({
            message: this.$t('document.upload-success'),
            position: 'is-bottom',
            type: 'is-success',
            duration: 2000
          })
        })
        .catch((error) => {
          let message
          if (error.response.status === 400) {
            message = this.$t('upload-bad-request')
          } else {
            message = this.$t('upload-unknown-error')
          }
          this.$buefy.toast.open({
            message,
            position: 'is-bottom',
            type: 'is-danger',
            duration: 2000
          })
        })
    },
    onCsvInput(file) {
      this.showCsvImportModal = false
      const data = new FormData()
      data.append('file', file)
      this.$axios
        .post(`${process.env.API_HOST}/crud/save-csv`, data)
        .then((_) => {
          this.$buefy.toast.open({
            message: this.$t('csv-upload-success'),
            position: 'is-bottom',
            type: 'is-success',
            duration: 2000
          })
        })
        .catch((error) => {
          let message
          if (error.response.status === 400) {
            message = this.$t('upload-bad-request')
          } else {
            message = this.$t('upload-unknown-error')
          }
          this.$buefy.toast.open({
            message,
            position: 'is-bottom',
            type: 'is-danger',
            duration: 2000
          })
        })
    }
  }
}
</script>

<style lang="scss" scoped>
.user-input {
  margin-bottom: 1em;
}

.csv-import-modal {
  .csv-modal-content {
    min-height: 100vh;
    padding: 3em 1em;
  }
}

.ftp-upload-container {
  margin: 1em 0;

  .file-elements {
    display: flex;

    .file-element {
      margin: 1em;
      max-width: 20rem;
      position: relative;

      & > div {
        &:first-child {
          font-style: italic;
          text-decoration: underline;
        }
      }

      &.new {
        position: relative;

        .remove-file-icon {
          position: absolute;
          top: 0;
          right: 0;
          cursor: pointer;
          color: $danger;
          font-size: 0.8em;
        }
      }
    }

    .replace-hint {
      flex-grow: 1;
      margin: 1em;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: $danger;
      white-space: nowrap;
      font-style: italic;

      .icon {
        margin: 0.5em;
      }
    }
  }

  .drop-area {
    margin-top: 1em;
  }
}

.flex-grow {
  flex-grow: 1;
}

@include mobile {
  .ftp-upload-container {
    .file-elements {
      flex-direction: column;
      align-items: start;

      .file-element {
        max-width: 100%;
      }

      .replace-hint {
        flex-direction: row;
        justify-content: start;

        .icon {
          transform: rotate(90deg);
        }
      }
    }
  }
}
</style>

<i18n src="~/locale/de/pages/add.json" locale="de"></i18n>
<i18n src="~/locale/en/pages/add.json" locale="en"></i18n>
