<template>
  <page>
    <template slot="title">
      {{ $t('pages.assistant') }}
    </template>

    <!-- ================================================================ -->

    <pre class="designation-data"
      >{{ $t('designation') }} {{ assistantData.actualDesignation }}</pre
    >
    <hr />
    <div class="button-container">
      <b-button
        v-if="assistantData.history && assistantData.history.length > 1"
        type="is-warning"
        icon-left="arrow-left"
        @click="back"
      >
        {{ $t('backbutton') }}
      </b-button>
      <div class="dummy"></div>
      <b-button v-if="assistantData.possibleFinalState" @click="end">
        {{ $t('finalDestination') }}
      </b-button>
      <div class="dummy"></div>
      <b-button
        type="is-success"
        icon-right="arrow-right"
        :disabled="nextStepDisabled"
        @click="submit"
      >
        {{ $t('nextstep') }}
      </b-button>
    </div>
    <smart-selection
      :selection-type="currentSelectionType"
      :input="assistantData"
      @selection="onSelection"
      @nextStepDisabled="onInputCorrect"
    />
    <hr />
    <b-loading :active.sync="loading" />
  </page>
</template>

<script>
import Page from '~/layout/default'
import SmartSelection from '~/components/assistant/SmartSelection'

export default {
  components: {
    Page,
    SmartSelection
  },
  data() {
    let assistantApiEndpoint = `${process.env.API_HOST}/assistant`
    if (![undefined, false, 'false'].includes(this.$route.query['plant-only'])) {
      assistantApiEndpoint = `${process.env.API_HOST}/assistant/plant`
    }
    return {
      initialLocale: this.$i18n.locale,
      currentSelectionType: 0,
      selection: null,
      nextStepDisabled: true,
      assistantData: {},
      error: undefined,
      result: '',
      loading: false,
      assistantApiEndpoint,
      designation: this.$route.query.q || ''
    }
  },
  watch: {
    currentSelectionType: {
      handler(val, old) {
        this.selection = null
      }
    }
  },
  mounted() {
    if (this.designation !== '') {
      this.restoreAssistant()
    }
    this.loadData()
  },
  beforeDestroy() {
    if (this.initialLocale !== this.$i18n.locale) {
      this.saveData()
    }
  },
  methods: {
    onSelection(selection) {
      this.selection = selection
      this.checkInput()
      if (Array.isArray(selection)) {
        this.assistantData.data = selection
      } else {
        this.assistantData.data = [selection]
      }
    },
    onInputCorrect(nextStepDisabled) {
      this.nextStepDisabled = nextStepDisabled
    },
    reset() {
      this.selection = null
      this.assistantData.data = null
      this.loading = false
    },
    submit() {
      this.completeInput()
      this.loading = true
      this.nextStepDisabled = true
      this.error = undefined
      this.$axios
        .post(this.assistantApiEndpoint, {
          communication: this.assistantData
        })
        .then((response) => {
          this.assistantData = response.data.backendData
          this.reset()
        })
        .catch((error) => {
          this.error = JSON.parse(JSON.stringify(error))
          this.loading = false
        })
    },
    end() {
      this.$buefy.dialog.confirm({
        title: this.$t('finalTitle'),
        message: this.$t('finalText') + '<b>' + this.assistantData.actualDesignation + '</b>',
        cancelText: this.$t('finalCancel'),
        confirmText: this.$t('finalAgree'),
        type: 'is-success',
        onConfirm: () => {
          this.$router.push(
            this.localePath({
              name: 'add',
              query: { q: this.assistantData.actualDesignation }
            })
          )
        }
      })
    },
    back() {
      this.nextStepDisabled = true
      if (this.assistantData.history.length > 0) {
        const hist = this.assistantData.history
        this.assistantData = this.assistantData.history[this.assistantData.history.length - 1]
        this.assistantData.history = hist
        this.assistantData.history.pop()
      }
    },
    saveData() {
      localStorage.setItem('assistantData', JSON.stringify(this.assistantData))
    },
    loadData() {
      if (localStorage.getItem('assistantData')) {
        try {
          const data = JSON.parse(localStorage.getItem('assistantData'))
          if (data) {
            this.assistantData = data
          }
        } catch (e) {}
      }
      localStorage.removeItem('assistantData')
      this.submit()
    },
    checkInput() {
      if (![3, 4, 5, 8].includes(this.assistantData.dataInputType)) {
        if (this.selection) {
          this.nextStepDisabled = false
        } else {
          this.nextStepDisabled = true
        }
      }
    },
    completeInput() {
      if ([4, 5, 8].includes(this.assistantData.dataInputType)) {
        const numbers = this.selection.split(/([0-9]+)/)
        let stringLength = 0
        let numberLength = 1
        if ([4].includes(this.assistantData.dataInputType)) {
          if (this.assistantData.dataInputLength[0] !== 9) {
            numberLength = this.assistantData.dataInputLength[0]
          }
        } else if (this.assistantData.dataInputLength[1] !== 9) {
          numberLength = this.assistantData.dataInputLength[1]
          stringLength = this.assistantData.dataInputLength[0]
        } else {
          return
        }
        while (numbers[1].length < numberLength) {
          numbers[1] = '_' + numbers[1]
        }
        if (stringLength === 0) {
          this.assistantData.data[0] = numbers[1]
        } else {
          this.assistantData.data[0] = this.selection.slice(0, stringLength) + numbers[1]
        }
      }
    },
    restoreAssistant() {
      this.loading = true
      this.$axios
        .get(`${process.env.API_HOST}/assistant/restore`, {
          params: {
            designation: this.designation
          }
        })
        .then((response) => {
          this.assistantData = response.data.backendData
        })
        .catch((error) => {
          this.error = JSON.parse(JSON.stringify(error))
          this.loading = false
        })
    }
  }
}
</script>

<style lang="scss" scoped>
.designation-data {
  font-weight: 650;
  font-size: 20px;
  width: 100%;
}
.back-button {
  float: right;
  margin: 20px;
}
.button-container {
  display: flex;
  justify-content: stretch;
  margin-bottom: 30px;
  .dummy {
    flex-grow: 1;
  }
}
</style>
<i18n src="~/locale/de/components/assistant/assistantGeneral.json" locale="de"></i18n>
<i18n src="~/locale/en/components/assistant/assistantGeneral.json" locale="en"></i18n>
