<template>
  <page>
    <template slot="title">
      {{ $t('pages.database-dev') }}
    </template>

    <!-- ================================================================ -->

    <div class="user-input">
      <b-field>
        <b-input v-model="author" expanded placeholder="Author" />
      </b-field>
      <b-field>
        <b-input v-model="comment" type="textarea" rows="2" expanded placeholder="Kommentar" />
      </b-field>
      <b-field grouped class="user-input-field">
        <b-input
          v-model="designation"
          expanded
          placeholder="Kennzeichen"
          @input="designation = designation.toUpperCase()"
        />
        <b-button type="is-primary" @click="save()">GO</b-button>
      </b-field>
      <div v-if="error">
        <b-message type="is-danger" title="Error" role="alert">
          <json-viewer :value="error" :expand-depth="1" copyable boxed />
        </b-message>
      </div>
      <hr />
      <div v-if="result">
        <b>Vorhandenes Kennzeichen</b>
        <json-viewer :value="result" :expand-depth="2" copyable boxed />
        <div class="has-text-right">
          <b-button type="is-warning" @click="save(true)">
            Override
          </b-button>
        </div>
      </div>
    </div>
  </page>
</template>

<script>
import JsonViewer from 'vue-json-viewer/ssr'
import Page from '~/layout/default'
import 'vue-json-viewer/style.css'

export default {
  components: {
    Page,
    JsonViewer
  },
  data() {
    return {
      designation: '#5163N00017W.GBCON.BEA_1WN =G001 MDK51 GP001 -MA001:L1',
      author: 'John Doe',
      comment: 'Wichtig: ...!',
      result: '',
      error: undefined
    }
  },
  methods: {
    save(override = false) {
      if (this.designation.trim() === '') {
        this.result = ''
        return
      }
      this.error = null
      this.result = null
      this.$axios
        .post(`${process.env.API_HOST}/crud/save`, {
          designation: this.designation,
          override,
          author: this.author,
          comment: this.comment
        })
        .then((response) => {
          this.result = response.data
        })
        .catch((error) => {
          this.error = JSON.parse(JSON.stringify(error))
        })
    }
  }
}
</script>
