<template>
  <page>
    <template slot="title">
      {{ $t('pages.index') }}
    </template>
  </page>
</template>

<script>
import Page from '~/layout/default'

export default {
  components: {
    Page
  }
}
</script>
