<template>
  <div class="container content">
    <h1 class="page-title">{{ $t('title') }}</h1>
    <p>{{ $t('p.1') }}</p>
    <ul>
      <li>{{ $t('li.1') }}</li>
      <li>{{ $t('li.2') }}</li>
      <li>{{ $t('li.3') }}</li>
      <li>{{ $t('li.4') }}</li>
      <li>{{ $t('li.5') }}</li>
    </ul>
    <p>{{ $t('p.2') }}</p>
    <div class="browsers">
      <ul>
        <li>
          <a href="https://www.google.com/intl/de_de/chrome/" class="default-style">
            <img src="~/assets/img/internet-explorer/chrome.png" alt="Logo Chrome" />
            Chrome
          </a>
        </li>
        <li>
          <a href="https://www.mozilla.org/de/firefox/new/" class="default-style">
            <img src="~/assets/img/internet-explorer/firefox.png" alt="Logo Firefox" />
            Firefox
          </a>
        </li>
        <li>
          <a href="https://www.opera.com/de" class="default-style">
            <img src="~/assets/img/internet-explorer/opera.png" alt="Logo Opera" />
            Opera
          </a>
        </li>
        <li>
          <a href="https://vivaldi.com/de/" class="default-style">
            <img src="~/assets/img/internet-explorer/vivaldi.png" alt="Logo Vivaldi" />
            Vivaldi
          </a>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  layout: 'empty-i18n'
}
</script>

<style lang="scss" scoped>
.container {
  padding: 4em 1em 1em 1em;
}

.browsers {
  ul {
    list-style-type: none;
    margin: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    li {
      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1.25em;
        color: $grey;
        position: relative;
        transition: $transition-default;
        padding: 1.5em;

        &:hover {
          color: $dark;

          &::after {
            background-image: radial-gradient(closest-side, $grey, transparent);
          }

          img {
            top: 0;
          }
        }

        &::after {
          content: '';
          display: block;
          position: absolute;
          left: 1.25em;
          bottom: 2.875em;
          width: calc(100% - 2.5em);
          height: 0.5em;
          background-image: radial-gradient(closest-side, $grey-light, transparent);
          transition: $transition-default;
        }

        img {
          position: relative;
          top: -0.25em;
          left: 0;
          height: 4rem;
          margin-bottom: 1rem;
          transition: $transition-default;
        }
      }
    }
  }
}
</style>

<i18n src="~/locale/de/pages/internet-explorer.json" locale="de"></i18n>
<i18n src="~/locale/en/pages/internet-explorer.json" locale="en"></i18n>
