<template>
  <page class="page-parser">
    <template slot="title">
      {{ $t('pages.parser') }}
    </template>

    <!-- ================================================================ -->

    <div class="actions">
      <b-button class="hint-icon" :disabled="!buttonEnabled" @click="showHints()">
        <div class="action-content">
          <b-icon icon="info-circle" type="is-info" />
          <span>{{ $t('tooltips.hints') }}</span>
        </div>
      </b-button>
      <b-button class="hint-icon" :disabled="!buttonEnabled" @click="showQr()">
        <div class="action-content">
          <b-icon icon="qrcode" type="is-info" />
          <span>{{ $t('tooltips.qr') }}</span>
        </div>
      </b-button>
    </div>

    <!-- ================================================================ -->

    <div class="parser-input">
      <b-field grouped class="parser-input-field">
        <b-input v-model="designation" expanded @input.native="designationToUpper" />
        <b-button type="is-primary" :disabled="!buttonEnabled" @click="submit()">
          {{ $t('go') }}
        </b-button>
      </b-field>
      <hr />
    </div>

    <!-- ================================================================ -->

    <div v-if="parserError">
      <parser-error :error="parserError" />
      <hr />
    </div>

    <!-- ================================================================ -->

    <div v-if="parserHint">
      <parser-hint :hint="parserHint" />
      <hr />
    </div>

    <!-- ================================================================ -->

    <div v-if="tree" class="tree-container">
      <parse-tree :tree="tree" />
    </div>

    <!-- ================================================================ -->

    <b-modal
      :active.sync="isHintsModalVisible"
      full-screen
      animation="zoom-out"
      class="parser-modal is-light"
    >
      <div class="parser-modal-content container">
        <p class="page-title">
          {{ $t('modals.hints.title') }}
        </p>
        <hr />
        <nav class="modal-navigation">
          <div v-for="(h, i) in modalHints" :key="i">
            <a :href="h.name[$i18n.locale] | toHash | concat('#', true)" class="a">
              {{ i + 1 }}. {{ h.name[$i18n.locale] }}
            </a>
          </div>
        </nav>
        <hr />
        <parser-hint-legend />
        <hr />
        <parser-hint v-for="(h, i) in modalHints" :key="i" ref="modalHints" :hint="h" />
      </div>
    </b-modal>

    <!-- ================================================================ -->

    <b-modal
      :active.sync="isQrModalActive"
      full-screen
      animation="zoom-out"
      class="parser-modal is-light"
    >
      <div class="parser-modal-content container">
        <p class="page-title">
          {{ $t('modals.qr.title') }}
        </p>
        <hr />
        <qr-scanner @scanned="onQrScanned" />
      </div>
    </b-modal>

    <!-- ================================================================ -->

    <b-loading :active.sync="loading" />
  </page>
</template>

<script>
import Page from '~/layout/default'
import ParseTree from '~/components/parser/ParseTree'
import ParserError from '~/components/parser/ParserError'
import ParserHint from '~/components/parser/ParserHint'
import ParserHintLegend from '~/components/parser/ParserHintLegend'
import QrScanner from '~/components/parser/QrScanner'

export default {
  components: {
    Page,
    ParseTree,
    ParserError,
    ParserHint,
    ParserHintLegend,
    QrScanner
  },
  filters: {
    toHash: (val) => {
      if (!val) return ''
      return ParserHint.methods.getHash(val)
    },
    concat: (val, arg, reverse) => {
      if (reverse === true) return `${arg}${val}`
      return `${val}${arg}`
    }
  },
  data() {
    return {
      designation: '#5163N00017W.GBCON.BEA_1WN =G001 MDK51 GP001 -MA001:L1',
      tree: null,
      parserError: null,
      parserHint: null,
      error: null,
      buttonEnabled: false,
      isHintsModalVisible: false,
      isQrModalActive: false,
      modalHints: [],
      loading: false
    }
  },
  mounted() {
    this.buttonEnabled = true
  },
  methods: {
    designationToUpper(event) {
      const el = event.target
      const start = el.selectionStart
      const end = el.selectionEnd
      this.designation = el.value.toUpperCase()
      el.value = this.designation
      if (el.setSelectionRange) {
        el.setSelectionRange(start, end)
      }
    },
    showHints() {
      if (this.modalHints.length > 0) {
        this.isHintsModalVisible = true
        return
      }
      this.loading = true
      this.$axios
        .get(`${process.env.API_HOST}/parser/hints`)
        .then((response) => {
          this.modalHints = response.data.hints
          this.isHintsModalVisible = true
          this.loading = false
        })
        .catch((error) => {
          this.error = JSON.parse(JSON.stringify(error))
          this.loading = false
        })
    },
    showQr() {
      this.isQrModalActive = true
    },
    onQrScanned(text) {
      this.designation = text
      this.isQrModalActive = false
      this.$buefy.snackbar.open({
        message: `<b>${this.$t('snackbar.qr-scanned')}:</b><br />${this.htmlEntities(text)}`,
        position: 'is-bottom'
      })
      this.submit()
    },
    htmlEntities(str) {
      return String(str)
        .replace(/&/g, '&amp;')
        .replace(/</g, '&lt;')
        .replace(/>/g, '&gt;')
        .replace(/"/g, '&quot;')
    },
    submit() {
      if (this.designation.trim() === '') {
        this.tree = ''
        return
      }
      this.error = undefined
      this.loading = true
      this.$axios
        .get(`${process.env.API_HOST}/parser/parse`, {
          params: { designation: this.designation }
        })
        .then((response) => {
          this.tree = response.data.tree
          this.parserError = response.data.error
          this.parserHint = response.data.hint
          this.loading = false
        })
        .catch((error) => {
          this.error = JSON.parse(JSON.stringify(error))
          this.loading = false
        })
    }
  }
}
</script>

<style lang="scss" scoped>
.actions {
  margin-bottom: 0.75em;
  display: flex;
  justify-content: stretch;
  position: relative;
  z-index: 101;

  .action-content {
    display: flex;
    align-items: center;
  }

  & > * {
    display: block;
    width: 50%;

    &:not(:last-child) {
      margin-right: 1em;
    }
  }
}

.parser-input {
  width: 100%;
  z-index: 100;
  background-color: $white;
  position: sticky;
  top: $header-height + 1rem;

  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 100%;
    width: 100%;
    height: 1em;
    background-color: $white;
    z-index: -1;
  }

  hr {
    margin: 1em 0 0 0;
  }

  .parser-input-field {
    display: flex;
    align-items: center;

    .hint-icon {
      margin-right: 1em;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }
}

.tree-container {
  width: 100%;
  overflow-y: auto;
  padding-bottom: 0.75em;
}

.parser-modal {
  z-index: 1000000;
  background-color: $white;

  .parser-modal-content {
    scroll-behavior: smooth;
    min-height: 100vh;
    padding: 3em 1em;
  }

  .modal-navigation {
    display: table;
    border: 0.0626em solid $grey-light;
    background-color: $white-bis;
    padding: 1em 4em 1em 1.5em;
  }
}

@include mobile {
  .actions {
    flex-direction: column;
    margin-bottom: 0.5em;

    & > * {
      width: 100%;

      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: 0.5em;
      }
    }
  }
}
</style>

<i18n src="~/locale/de/pages/parser.json" locale="de"></i18n>
<i18n src="~/locale/en/pages/parser.json" locale="en"></i18n>
