<template>
  <page main-is-flex>
    <template slot="title">
      {{ $t('pages.plants') }}
    </template>

    <!-- ================================================================ -->

    <div class="search-input">
      <b-field>
        <p class="control">
          <b-button
            :type="displayMode == DISPLAY_MODE_MAP ? 'is-secondary' : ''"
            @click="setDisplayMode(DISPLAY_MODE_MAP)"
          >
            {{ $t('map') }}
          </b-button>
        </p>
        <p class="control">
          <b-button
            :type="displayMode == DISPLAY_MODE_LIST ? 'is-secondary' : ''"
            @click="setDisplayMode(DISPLAY_MODE_LIST)"
          >
            {{ $t('list') }}
          </b-button>
        </p>
        <b-input
          v-model="searchQuery"
          :placeholder="$t('search')"
          expanded
          @input="filterPlants()"
        />
        <p class="control">
          <b-button
            icon-left="plus"
            type="is-success"
            tag="nuxt-link"
            :to="localePath({ name: 'assistant', query: { 'plant-only': true } })"
          />
        </p>
      </b-field>
      <hr />
    </div>

    <div v-if="displayMode == DISPLAY_MODE_LIST">
      <plant
        v-for="(p, i) in plants"
        :key="i"
        :model="p"
        class="plant"
        :class="{ hidden: !p.visible }"
      />
    </div>

    <plant-map v-if="displayMode == DISPLAY_MODE_MAP" :plants="filteredPlants" />

    <!-- ================================================================ -->

    <b-loading :active.sync="loading" />
  </page>
</template>

<script>
import Vue from 'vue'
import MapQuest from '~/libs/MapQuest'
import Page from '~/layout/default'
import Plant from '~/components/plant-structure/Plant'
import PlantMap from '~/components/plant-structure/PlantMap'

// cookie
const DISPLAY_MODE_COOKIE = 'plants/display-mode'
const DISPLAY_MODE_LIST = 'list'
const DISPLAY_MODE_MAP = 'map'

export default {
  components: {
    Page,
    Plant,
    PlantMap
  },
  data() {
    return {
      apiKey: process.env.MAP_QUEST_API_KEY,
      loading: false,
      displayMode: '',
      DISPLAY_MODE_LIST,
      DISPLAY_MODE_MAP,
      plants: [],
      error: null,
      searchQuery: ''
    }
  },
  computed: {
    filteredPlants() {
      return this.plants.filter((p) => p.visible)
    }
  },
  mounted() {
    this.mapquest = new MapQuest(this.apiKey, this.$axios)
    this.getDiaplyMode()
    this.loadPlants()
  },
  methods: {
    getDiaplyMode() {
      const mode = this.$cookies.get(DISPLAY_MODE_COOKIE)
      if (mode === null) {
        this.setDisplayMode(DISPLAY_MODE_MAP)
      } else {
        this.displayMode = mode
      }
    },
    setDisplayMode(mode) {
      this.$cookies.set(DISPLAY_MODE_COOKIE, mode)
      this.displayMode = mode
    },
    loadPlants() {
      this.plants = []
      setTimeout(() => {
        this.loading = true
        this.$axios
          .get(`${process.env.API_HOST}/crud/get-plants`)
          .then((response) => {
            this.plants = response.data.sort((a, b) => {
              return a.designation.localeCompare(b.designation, this.$i18n.locale, {
                numeric: true
              })
            })
            this.plants.forEach((p) => {
              this.geocode(p)
              Vue.set(p, 'visible', true)
            })
            this.loading = false
          })
          .catch((error) => {
            this.error = JSON.parse(JSON.stringify(error))
            this.loading = false
          })
      }, 10)
    },
    filterPlants() {
      if (!this.plants || this.plants.length === 0) {
        return
      }
      this.plants.forEach((p, i) => {
        const text = `${p.designation} ${p.author} ${p.comment} ${p.location}`
        this.plants[i].visible = text.toLowerCase().includes(this.searchQuery.toLowerCase())
      })
    },
    geocode(plant) {
      let lat = parseFloat(plant.designation.substr(1, 4)) / 100
      if (plant.designation.substr(5, 1) === 'S') lat *= -1
      let lng = parseFloat(plant.designation.substr(6, 5)) / 100
      if (plant.designation.substr(11, 1) === 'W') lng *= -1
      Vue.set(plant, 'lat', lat)
      Vue.set(plant, 'lng', lng)
      Vue.set(plant, 'location', '')
      this.mapquest.geocoding
        .reverse(lat, lng, this.$nuxt.$i18n.locales, this.$i18n.locale)
        .then((response) => {
          try {
            const l = response.data.results[0].locations[0]
            let location = l.adminArea5 // city
            if (l.adminArea3) location += (location ? ', ' : '') + l.adminArea3 // state
            if (l.adminArea1) location += (location ? ' ' : '') + '(' + l.adminArea1 + ')' // ISO country code
            plant.location = location
          } catch (_) {}
        })
    }
  }
}
</script>

<style lang="scss" scoped>
.search-input {
  width: 100%;
  z-index: 1001;
  background-color: $white;
  position: sticky;
  top: $header-height + 1rem;

  &::after {
    content: '';
    display: block;
    position: absolute;
    left: -1em;
    bottom: 0;
    width: calc(100% + 2em);
    height: calc(100% + 1em);
    background-color: $white;
    z-index: -1;
  }
}

.plant {
  transition: $transition-default;
  opacity: 1;
  margin-top: 1em;

  &.hidden {
    opacity: 0;
    height: 0;
    margin: 0;
  }
}
</style>

<i18n src="~/locale/de/pages/plants.json" locale="de"></i18n>
<i18n src="~/locale/en/pages/plants.json" locale="en"></i18n>
