<template>
  <page>
    <template slot="title">
      {{ $t('pages.plant-structure') }}
    </template>

    <!-- ================================================================ -->

    <div class="structure-container">
      <div class="tree">
        <b-field>
          <b-autocomplete
            ref="autocomplete"
            v-model="autocompleteInput"
            field="designation"
            :data="filteredPlants"
            open-on-focus
            clearable
            :placeholder="$t('search')"
            @select="onPlantSelected"
            @focus="autocompleteInput = ''"
          />
        </b-field>
        <hr />
        <hierarchy-item v-if="selectedPlant" :model="selectedPlant" is-root />
      </div>
      <div class="details" :class="{ visible: areDetailsVisible }">
        <hierarchy-details :model="selectedItem" />
        <div class="mobile-details-toggle">
          <b-button size="is-small" class="button" @click="areDetailsVisible = !areDetailsVisible">
            <b-icon :icon="`chevron-${areDetailsVisible ? 'right' : 'left'}`" />
          </b-button>
        </div>
      </div>
    </div>

    <!-- ================================================================ -->

    <b-loading :active.sync="loading" />
  </page>
</template>

<script>
import { mapState } from 'vuex'
import Page from '~/layout/default'
import HierarchyItem from '~/components/plant-structure/HierarchyItem'
import HierarchyDetails from '~/components/plant-structure/HierarchyDetails'

export default {
  components: {
    Page,
    HierarchyItem,
    HierarchyDetails
  },
  data() {
    return {
      loading: false,
      error: null,
      plants: [],
      details: null,
      areDetailsVisible: false,
      autocompleteInput: '',
      selectedPlant: null
    }
  },
  computed: mapState({
    selectedItem: (state) => state.plantStructure.selectedItem,
    filteredPlants() {
      return this.plants.filter((p) => {
        // take all plant that have the letters of the query in it, whether continuous or not
        const regex = new RegExp(this.autocompleteInput.split('').join('.*'), 'i')
        return regex.test(p)
      })
    }
  }),
  watch: {
    $route: {
      handler(val, old) {
        if (val.query.q) {
          this.handleRouteParams()
        } else {
          this.selectedPlant = null
          this.details = null
          this.autocompleteInput = ''
        }
      }
    },
    selectedPlant: {
      handler(val, old) {
        if (!val) {
          this.changeRoute()
        }
      }
    }
  },
  mounted() {
    this.handleRouteParams()
  },
  methods: {
    handleRouteParams() {
      this.$store.dispatch('plantStructure/setSelected', {})
      this.loadPlants().then(() => {
        const query = this.$route.query.q
        if (query) {
          for (let i = 0; i < this.plants.length; i++) {
            if (this.plants[i].designation === query) {
              this.$refs.autocomplete.setSelected(this.plants[i])
              return
            }
          }
        }
      })
    },
    loadPlants() {
      this.loading = true
      return this.$axios
        .get(`${process.env.API_HOST}/crud/get-plants`)
        .then((response) => {
          this.plants = response.data.sort((a, b) => {
            return a.designation.localeCompare(b.designation, this.$i18n.locale, { numeric: true })
          })
          this.loading = false
        })
        .catch((error) => {
          this.error = JSON.parse(JSON.stringify(error))
          this.loading = false
        })
    },
    onPlantSelected(plant) {
      this.selectedPlant = plant || null
      if (!plant) {
        this.$store.dispatch('plantStructure/setSelected', {})
      } else {
        this.changeRoute()
      }
    },
    changeRoute() {
      const newRoute = {
        name: this.$route.name,
        hash: this.$route.hash,
        params: this.$route.params,
        query: {}
      }
      if (this.selectedPlant && this.selectedPlant.designation) {
        newRoute.query.q = this.selectedPlant.designation
      }
      this.$router.push(newRoute)
    }
  }
}
</script>

<style lang="scss" scoped>
.structure-container {
  display: flex;
  position: relative;

  .tree {
    flex-grow: 1;
    margin-right: 1em;
    overflow-x: auto;
  }

  .details {
    width: 35%;
    min-width: 15rem;
    max-width: 35rem;
    flex-shrink: 0;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    height: calc(100vh - #{$header-height} - 2rem);
    position: sticky;
    top: $header-height + 1rem;

    & > * {
      flex-grow: 1;
    }

    .mobile-details-toggle {
      position: fixed;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      z-index: 10;

      .button {
        height: 4rem;
        width: 1.75rem;
        padding-top: 0.75em;
      }
    }
  }
}

@include tablet {
  .structure-container {
    .details {
      .mobile-details-toggle {
        display: none;
      }
    }
  }
}

@include mobile {
  .structure-container {
    .tree {
      width: 100%;
      margin-right: 0;
    }

    .details {
      position: fixed;
      left: 100%;
      width: calc(100% - 2rem);
      max-width: calc(100% - 2rem);
      margin-bottom: 1em;
      transition: $transition-default;

      &.visible {
        left: 1rem;

        &::before {
          left: 0;
        }
      }

      &::before {
        content: '';
        z-index: -1;
        display: block;
        position: fixed;
        top: $header-height;
        left: 100%;
        right: 0;
        bottom: 0;
        background-color: $white;
        transition: $transition-default;
      }
    }
  }
}
</style>
