<template>
  <div class="dashboard-container">
    <header class="header">
      <div class="expand-aside-button" @click="toggleAside">
        <b-icon icon="stream" type="is-info" />
      </div>
      <div class="title">
        <slot name="title" />
      </div>
    </header>
    <aside class="aside">
      <div class="logo">
        <nuxt-link :to="localePath('index')">
          <img src="~/assets/img/logo-small.png" alt="Logo" />
        </nuxt-link>
      </div>
      <div class="nav">
        <slot name="nav" />
      </div>
      <div class="locale-switcher">
        <language-switcher dropdown-position="is-top-right" />
        <div v-if="!backendConnected" class="connection-status">
          <b-icon icon="server" />
          <b-icon icon="ban" type="is-danger" />
        </div>
      </div>
    </aside>
    <div class="overlay"></div>
    <div class="main">
      <main :class="{ flex: mainIsFlex }">
        <slot />
      </main>
      <footer>
        <slot name="footer" />
      </footer>
    </div>
  </div>
</template>

<script>
import LanguageSwitcher from '~/components/core/LanguageSwitcher'

export default {
  components: {
    LanguageSwitcher
  },
  props: {
    mainIsFlex: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  data() {
    return {
      isAsideMobileExpanded: false,
      route: this.$route,
      touchstart: {
        x: -1,
        y: -1
      },
      touchend: {
        x: -1,
        y: -1
      },
      backendConnected: true,
      backendConnectedInterval: null
    }
  },
  mounted() {
    this.toggleAside(false)
    document.querySelector('html').classList.add('transition-on')
    // toggle aside at swipe from left screen
    document.body.addEventListener('touchstart', this.onTouchstart)
    document.body.addEventListener('touchmove', this.onTouchmove)
    document.body.addEventListener('touchend', this.onTouchend)
    this.checkIfBackendIsConnected()
    this.backendConnectedInterval = setInterval(() => {
      this.checkIfBackendIsConnected()
    }, 30000)
  },
  destroyed() {
    clearInterval(this.backendConnectedInterval)
  },
  methods: {
    checkIfBackendIsConnected() {
      this.$axios
        .get(`${process.env.API_HOST}/ping`)
        .then((response) => {
          this.backendConnected = true
        })
        .catch((_) => {
          this.backendConnected = false
        })
    },
    toggleAside(show = undefined) {
      if (show === true || show === false) {
        this.isAsideMobileExpanded = show
      } else {
        this.isAsideMobileExpanded = !this.isAsideMobileExpanded
      }
      if (this.isAsideMobileExpanded) {
        document.querySelector('html').classList.add('aside-mobile-expanded')
      } else {
        document.querySelector('html').classList.remove('aside-mobile-expanded')
      }
    },
    onTouchstart(e) {
      if (!e.touches || !e.touches[0] || window.innerWidth >= 1024) {
        this.touchstart.x = -1
        return
      }
      const x = e.touches[0].pageX
      const y = e.touches[0].pageY
      if (x > 64) {
        this.touchstart.x = -1
        return
      }
      this.touchstart.x = x
      this.touchstart.y = y
    },
    onTouchmove(e) {
      if (!e.touches || !e.touches[0]) {
        return
      }
      this.touchend.x = e.touches[0].pageX
      this.touchend.y = e.touches[0].pageY
    },
    onTouchend(e) {
      if (this.touchstart.x === -1 || this.touchend.x === -1) return
      if (
        Math.abs(this.touchstart.x - this.touchend.x) > 150 &&
        Math.abs(this.touchstart.y - this.touchend.y) < 80
      ) {
        this.toggleAside()
      }
    }
  }
}
</script>

<style lang="scss">
html {
  padding-top: $header-height;

  &.transition-on {
    body,
    .dashboard-container > .aside,
    .dashboard-container > .header,
    .dashboard-container > .overlay {
      transition: $transition-default;
    }
  }
}

body {
  position: relative;
}

@include touch {
  html.aside-mobile-expanded {
    .dashboard-container {
      & > .aside {
        left: 0;
      }

      & > .header {
        margin-left: $aside-width-touch;
      }

      & > .overlay {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

@include desktop {
  body {
    padding-left: $aside-width-desktop;
  }
}
</style>

<style lang="scss" scoped>
// for scss vars see ~/assets/scss/vars/_layout.scss

.dashboard-container {
  .aside {
    position: fixed;
    top: 0;
    height: 100vh;
    background-color: $dashboard-background-color;
    width: $aside-width-desktop;
    border-right: $dashboard-border;
    padding: 1em;
    z-index: 1011;
    display: flex;
    flex-direction: column;

    .logo {
      text-align: center;
      margin: 1rem 0;
      padding-bottom: 1rem;
      border-bottom: $dashboard-border;

      img {
        width: 8rem;
        height: 8rem;
      }
    }

    .nav {
      flex-grow: 1;
    }

    .locale-switcher {
      margin-top: 1em;
      padding-top: 1em;
      border-top: $dashboard-border;
      display: flex;
      align-items: center;

      .connection-status {
        margin-left: 1em;
        width: 2em;
        height: 2em;
        position: relative;

        .icon {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          &:last-of-type {
            font-size: 2em;
            opacity: 0.75;
          }
        }
      }
    }
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-left: 0;
    height: $header-height;

    border-bottom: $dashboard-border;
    display: flex;
    align-items: center;
    z-index: 1011;
    background-color: $dashboard-background-color;

    .title {
      font-size: 0.5 * $header-height;
      color: $dashboard-color !important;
    }
  }

  .main {
    padding: 1em;
    min-height: calc(100vh - #{$header-height});
    display: flex;
    flex-direction: column;

    main {
      flex-grow: 1;

      &.flex {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .overlay {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba($dark, 0.75);
    z-index: 1010;
    opacity: 0;
    visibility: hidden;
  }
}

@include touch {
  .dashboard-container {
    .aside {
      width: $aside-width-touch;
      left: $aside-width-touch-negative;
    }

    .header {
      width: 100%;

      .expand-aside-button {
        width: $header-height;
        height: $header-height;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
    }
  }
}

@include desktop {
  .dashboard-container {
    .aside {
      left: 0;
    }

    .header {
      margin-left: $aside-width-desktop;

      .expand-aside-button {
        display: none;
      }

      .title {
        margin-left: 0.25 * $header-height;
      }
    }

    .overlay {
      display: none;
    }
  }
}
</style>
