<template>
  <nav>
    <b-menu>
      <b-menu-list :label="$t('nav.pages')">
        <b-menu-item
          icon="home"
          :label="$t('pages.index')"
          tag="nuxt-link"
          :to="localePath('index')"
          :active="localePath('index') == $route.path"
        />
        <b-menu-item
          icon="info-circle"
          :label="$t('pages.parser')"
          tag="nuxt-link"
          :to="localePath('parser')"
          :active="localePath('parser') == $route.path"
        />
        <b-menu-item
          icon="user"
          :label="$t('pages.assistant')"
          tag="nuxt-link"
          :to="localePath('assistant')"
          :active="localePath('assistant') == $route.path"
        />
        <b-menu-item
          icon="map-marker-alt"
          :label="$t('pages.plants')"
          tag="nuxt-link"
          :to="localePath('plants')"
          :active="localePath('plants') == $route.path"
        />
        <b-menu-item
          icon="fan"
          :label="$t('pages.plant-structure')"
          tag="nuxt-link"
          :to="localePath('plant-structure')"
          :active="localePath('plant-structure') == $route.path"
        />
        <b-menu-item
          icon="plus"
          :label="$t('pages.add')"
          tag="nuxt-link"
          :to="localePath('add')"
          :active="localePath('add') == $route.path"
        />
      </b-menu-list>
    </b-menu>
  </nav>
</template>

<style lang="scss">
.menu {
  .menu-label {
    color: darken($dashboard-color, 25);
  }

  .menu-list {
    a {
      display: flex;
      align-items: center;

      &:hover {
        background-color: darken($dashboard-background-color, 5);
      }

      &:not(:hover) {
        color: $dashboard-color;
      }

      span:not(.icon) {
        display: inline-block;
        margin-left: 0.5em;
        flex-grow: 1;
      }

      &.is-active {
        font-weight: 600;
        color: $dashboard-background-color;

        &:hover {
          background-color: lighten($dashboard-color, 5);
        }

        &:not(:hover) {
          background-color: darken($dashboard-color, 20);
        }
      }
    }
  }
}
</style>
