<template>
  <div>
    <b-dropdown
      ref="language-switcher"
      class="language-switcher"
      aria-role="list"
      :position="dropdownPosition !== 'is-bottom-right' ? dropdownPosition : undefined"
    >
      <b-button slot="trigger" class="language-switcher-btn">
        <div class="is-flex">
          <b-icon class="globe" icon="globe-europe" />
          <span>
            {{ $t(`language-switcher.${this.$i18n.locale}-short`) }}
          </span>
          <b-icon :icon="dropdownPosition.includes('top') ? 'angle-up' : 'angle-down'" />
        </div>
      </b-button>
      <b-dropdown-item
        v-for="locale in $i18n.locales"
        :key="locale.code"
        aria-role="menuitem"
        :disabled="locale.code == $i18n.locale"
        class="language-switcher-item"
        @click="$router.push(switchLocalePath(locale.code))"
      >
        <div v-if="locale.code === 'de'">
          <img
            svg-inline
            class="flag"
            src="~/assets/img/flag_germany.svg"
            :alt="$t('language-switcher.flag-de')"
          />
        </div>
        <div v-if="locale.code === 'en'">
          <img
            svg-inline
            class="flag"
            src="~/assets/img/flag_uk.svg"
            :alt="$t('language-switcher.flag-en')"
          />
        </div>
        <div>
          {{ $t(`language-switcher.${locale.code}`) }}
        </div>
      </b-dropdown-item>
    </b-dropdown>
  </div>
</template>

<script>
export default {
  props: {
    dropdownPosition: {
      type: String,
      default: 'is-bottom-right',
      required: false,
      validator: (value) =>
        ['is-top-left', 'is-top-right', 'is-bottom-left', 'is-bottom-right'].includes(value)
    }
  }
}
</script>

<style lang="scss" scoped>
.language-switcher {
  z-index: 10000;
}

.language-switcher-btn > span {
  display: flex;
  align-items: center;

  span.icon:not(.globe) {
    display: none;
  }
}

.language-switcher-item {
  display: flex !important;
  align-items: center;

  .flag {
    display: block;
    width: 2.5rem;
    height: 1.5rem;
    margin-right: 1em;
  }
}
</style>

<style lang="scss">
.language-switcher .dropdown-menu {
  min-width: unset;
}
</style>
