<template>
  <div class="back" @click="onClick()">
    <b-icon icon="chevron-left" />
    <span>{{ $t('back') }}</span>
  </div>
</template>

<script>
export default {
  props: {
    historyBack: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  methods: {
    onClick() {
      if (this.historyBack) {
        window.history.back()
      } else {
        this.$emit('do')
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.back {
  display: inline-flex;
  align-items: center;
  margin-bottom: 2em;
  cursor: pointer;

  &:hover {
    .icon {
      transform: translateX(-0.25em);
    }
  }

  .icon {
    transition: $transition-default;
    margin-right: 0.5em;
  }
}
</style>

<i18n src="~/locale/de/components/global/Back.json" locale="de"></i18n>
<i18n src="~/locale/en/components/global/Back.json" locale="en"></i18n>
