html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2em 1em;
}

header {
  margin-bottom: 3em;
}

main .links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

main .links > * {
  display: block !important;
  width: 100%;
}

main .links > *:not(:last-child) {
  margin-bottom: 1em;
}
