<template>
  <app-dashboard :main-is-flex="mainIsFlex">
    <template slot="title">
      <slot name="title" />
    </template>
    <template slot="nav">
      <app-nav />
    </template>
    <template slot="footer">
      <app-footer />
    </template>
    <slot />
  </app-dashboard>
</template>

<script>
import AppDashboard from '~/components/core/AppDashboard'
import AppNav from '~/components/core/AppNav'
import AppFooter from '~/components/core/AppFooter'

export default {
  components: {
    AppDashboard,
    AppNav,
    AppFooter
  },
  props: {
    mainIsFlex: {
      type: Boolean,
      required: false,
      default: false
    }
  }
}
</script>
