<template>
  <div class="sticky-footer">
    <main class="sticky-footer-grow">
      <language-switcher class="language-switcher" dropdown-position="is-bottom-left" />
      <nuxt />
    </main>
    <div>
      <!-- dunmy div in order to make .sticky-footer-grow work -->
    </div>
  </div>
</template>

<script>
import LanguageSwitcher from '~/components/core/LanguageSwitcher'

export default {
  components: {
    LanguageSwitcher
  },
  head() {
    return this.$nuxtI18nSeo()
  }
}
</script>

<style lang="scss" scoped>
main {
  position: relative;
}

.language-switcher {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1000;
}
</style>
