<template>
  <div class="sticky-footer layout-empty">
    <main class="sticky-footer-grow">
      <nuxt />
    </main>
    <div>
      <!-- dunmy div in order to make .sticky-footer-grow work -->
    </div>
  </div>
</template>

<style lang="scss" scoped>
.layout-empty {
  padding: 1em;
}
</style>
