@mixin frame {
  border: 0.5em solid $white;
  box-shadow: 0 0 0.5rem 0 $grey-light;
  background-color: $white;
}

@mixin select-item {
  padding: 0.35em 1em;
  border: 0.0625em solid $grey-lighter;
  border-radius: 0.25em;
}
