<template>
  <div>
    <div v-if="selection == 0" class="upload-type-selection">
      <div class="columns">
        <div class="column" @click="select(1)">
          <div class="selection-item">
            <b-icon icon="file-image" class="icon" type="is-info" />
            <div>
              {{ $t('upload-type.file') }}
            </div>
          </div>
        </div>
        <div class="column" @click="select(2)">
          <div class="selection-item">
            <b-icon icon="camera" class="icon" type="is-success" />
            <div>
              {{ $t('upload-type.camera') }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ================================================================ -->

    <div v-else-if="selection == 1">
      <div class="file-input-area">
        <back @do="select(0)" />
        <div v-if="error" class="error-message">
          <b-message v-if="error" type="is-danger">{{ $t('error') }}: {{ error }}</b-message>
          <b-message type="is-info">{{ $t('try-use-camera') }}</b-message>
        </div>
        <qrcode-drop-zone @decode="onDecode" @detect="onFileUpload">
          <drop-area />
        </qrcode-drop-zone>
        <div class="file">
          <label class="file-label">
            <qrcode-capture
              :multiple="false"
              class="file-input"
              @decode="onDecode"
              @detect="onFileUpload"
            />
            <span class="file-cta">
              <span class="file-icon">
                <b-icon icon="upload" />
              </span>
              <span class="file-label">
                {{ $t('file-upload.choose-a-file') }}
              </span>
            </span>
          </label>
        </div>
      </div>
    </div>

    <!-- ================================================================ -->

    <div v-else-if="selection == 2">
      <div class="camera-input-area">
        <back @do="select(0)" />
        <div v-if="error" class="error-message">
          <b-message v-if="error" type="is-danger">{{ $t('error') }}: {{ error }}</b-message>
          <b-message type="is-info">{{ $t('try-upload-file') }}</b-message>
        </div>
        <div v-else class="camera-frame" :class="{ fullscreen }">
          <qrcode-stream @decode="onDecode" @init="onInit">
            <b-loading :active.sync="loading" :is-full-page="false" />
            <div v-if="loading" class="camera-loading-text">
              {{ $t('camera-loading') }}
            </div>
            <div class="fullscreen-button" @click="fullscreen = !fullscreen">
              <b-button>
                <b-icon :icon="fullscreen ? 'compress' : 'expand'" />
              </b-button>
            </div>
          </qrcode-stream>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { QrcodeStream, QrcodeDropZone, QrcodeCapture } from 'vue-qrcode-reader'
import DropArea from '~/components/DropArea'

export default {
  components: { QrcodeStream, QrcodeDropZone, QrcodeCapture, DropArea },
  data() {
    return {
      error: null,
      fullscreen: false,
      loading: false,
      selection: 0
    }
  },
  methods: {
    select(s) {
      this.selection = s
      this.error = null
    },
    onDecode(result) {
      this.$emit('scanned', result.replace(/\n/g, '').trim())
    },
    async onFileUpload(promise) {
      try {
        const { content } = await promise
        if (!content) {
          this.error = this.$t('errors.no-qr-in-file')
        }
      } catch (error) {
        this.error = this.$t('errors.no-qr-in-file')
      }
    },
    async onInit(promise) {
      this.loading = true
      try {
        await promise
      } catch (error) {
        if (error.name === 'NotAllowedError') {
          this.error = this.$t('errors.not-allowed')
        } else if (error.name === 'NotFoundError') {
          this.error = this.$t('errors.not-found')
        } else if (error.name === 'NotSupportedError') {
          this.error = this.$t('errors.not-supported')
        } else if (error.name === 'NotReadableError') {
          this.error = this.$t('errors.not-readable')
        } else if (error.name === 'OverconstrainedError') {
          this.error = this.$t('errors.overconstrained')
        } else if (error.name === 'StreamApiNotSupportedError') {
          this.error = this.$t('errors.stream-api-not-supported')
        }
      } finally {
        this.loading = false
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.upload-type-selection {
  .columns {
    .column {
      .selection-item {
        @include frame;
        min-height: 10em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2em;
        cursor: pointer;

        &:hover {
          .icon {
            transform: scale($default-scale-factor);
          }
        }

        .icon {
          font-size: 4em;
          width: 1.3em;
          height: 1.3em;
          margin: 1rem 1rem 1.5rem 1rem;
          transition: $transition-default;
        }
      }
    }
  }
}

.error-message {
  margin-bottom: 1em;

  & > * {
    margin-bottom: 0.5em;
  }
}

.file-input-area {
  .file {
    margin-top: 1em;
    display: flex;
    justify-content: flex-end;
  }
}

.camera-input-area {
  .camera-frame {
    &.fullscreen {
      z-index: 1000;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
    }

    &:not(.fullscreen) {
      @include frame;
    }

    .fullscreen-button {
      position: absolute;
      right: 0;
      bottom: 0;
      padding: 1em;
    }

    .camera-loading-text {
      position: absolute;
      left: 0;
      bottom: 1em;
      width: 100%;
      color: $grey;
      text-align: center;
    }
  }
}

@include mobile {
  .upload-type-selection {
    .columns {
      display: flex;
      flex-direction: column;
      .column:nth-of-type(1) {
        order: 2;
      }
      .column:nth-of-type(2) {
        order: 1;
      }
    }
  }
}
</style>

<i18n src="~/locale/de/components/parser/QrScanner.json" locale="de"></i18n>
<i18n src="~/locale/en/components/parser/QrScanner.json" locale="en"></i18n>
