<template>
  <b-message v-if="error" type="is-danger" class="error-msg">
    <b>
      {{ $t('error-at-input', [text]) }}
    </b>
    <pre v-if="errorUnderline" @click="showAntlrMsg = !showAntlrMsg">{{ errorUnderline }}</pre>
    <p>
      {{ message }}
    </p>
    <p>
      {{ expectationOrSuggestion }}:
      <span v-if="suggestions.length == 1">
        {{ suggestions[0] }}
      </span>
    </p>
    <ul v-if="suggestions.length > 1" class="suggestions">
      <li v-for="(s, i) in suggestions" :key="i">- {{ s }}</li>
    </ul>
    <div v-if="showAntlrMsg">
      <br />
      <pre>Parser Error: {{ error.message }}</pre>
    </div>
  </b-message>
</template>

<script>
export default {
  props: {
    error: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      showAntlrMsg: false
    }
  },
  computed: {
    errorUnderline() {
      if (this.error && JSON.stringify(this.error) !== JSON.stringify({})) {
        let ret = this.error.designation + '\n'
        for (let i = 0; i <= this.error.designation.length; i++) {
          if (i < this.error.index) {
            ret += ' '
            continue
          }
          ret += '🠙'
          break
        }
        return ret
      }
      return ''
    },
    text() {
      switch (this.error.text) {
        case '<EOF>':
          return this.$t('eof')
        default:
          return this.error.text
      }
    },
    message() {
      return this.$t(`type-${this.error.type}`, [this.text])
    },
    expectationOrSuggestion() {
      switch (this.error.type) {
        case 0:
        case 1:
          return this.$t('suggestion')
        case 2:
        case 3:
          return this.$t('expectation')
        default:
          return ''
      }
    },
    suggestions() {
      const suggestions = []
      this.error.suggestions.forEach((s) => {
        if (s === this.error.text) return
        if (s === '<NUMBER>') {
          suggestions.push('0 ... 9')
        } else if (s === '<ALPHA>') {
          suggestions.push('A ... Z')
        } else if (s === '<PREFIX>') {
          suggestions.push(this.$t('prefix') + ' (# = + - : ; &)')
        } else if (s === '<EOF>') {
          suggestions.push(this.$t('eof'))
        } else {
          suggestions.push(s)
        }
      })
      return suggestions
    }
  }
}
</script>

<style lang="scss" scoped>
.error-msg {
  b {
    display: block;
    margin-bottom: 0.75em;
  }
  pre {
    padding: 0 !important;
    background-color: transparent !important;
  }
  ul.suggestions {
    font-style: italic;
    li {
      margin-left: 0.75em;
    }
  }
}
</style>

<i18n src="~/locale/de/components/parser/ParserError.json" locale="de"></i18n>
<i18n src="~/locale/en/components/parser/ParserError.json" locale="en"></i18n>
