<template>
  <div
    v-if="designation"
    :class="`node ${hover ? 'hover' : ''} ${erroneous ? 'erroneous' : ''}`"
    :style="nodeStyle"
    @mouseover.stop="hover = true"
    @mouseout.stop="hover = false"
  >
    <div ref="designation" class="designation">
      <span>{{ designation }}</span>
      <span v-if="erroneous" class="error-hint">
        <b-icon icon="bug" size="is-small" />
        {{ $t('erroneous') }}
      </span>
    </div>
    <div class="denomination-container">
      <div
        :class="children ? 'expandable' : ''"
        class="section-denomination"
        @click="childrenExpanded = !childrenExpanded"
      >
        <div>
          <span>
            {{ sectionDenomination }}
          </span>
          <div v-if="denomination" class="denomination">
            <!-- eslint-disable-next-line vue/no-v-html -->
            <span v-html="denomination"></span>
          </div>
          <div v-if="examples" class="examples">
            <span>Beispiele:</span>
            <ul>
              <li v-for="(e, i) in examples" :key="i">- {{ e }}</li>
            </ul>
          </div>
        </div>
        <b-button
          :class="children ? '' : 'hidden'"
          size="is-small"
          type="is-dark"
          class="expand-button"
        >
          <b-icon v-if="childrenExpanded" icon="minus" />
          <b-icon v-else icon="plus" />
        </b-button>
      </div>
      <div v-if="children && childrenExpanded" class="children">
        <div class="collapse-toggle"></div>
        <div v-if="childrenExpanded" class="collapse-container">
          <div v-for="(child, i) in children" :key="i" class="child">
            <ParseTree :tree="child" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ResizeSensor from 'css-element-queries/src/ResizeSensor'
import ParseTree from '~/components/parser/ParseTree' // !!! RECUSICE COMPONENT !!!

export default {
  name: 'ParseTree', // required for recusion to work => otherwise children can't resolve the component
  components: {
    ParseTree
  },
  props: {
    tree: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      childrenExpanded: false,
      nodeStyle: '',
      hover: false
    }
  },
  computed: {
    node() {
      let node = this.tree // <----------------.--- can't do this in one step
      node = Object.assign({}, this.tree) // <-'       => wouldn't be rective
      node.Childs = undefined
      return node
    },
    children() {
      return this.tree.childs
    },
    designation() {
      if (this.tree === undefined || this.tree.designation === undefined) {
        return ''
      }
      return this.tree.designation
    },
    sectionDenomination() {
      if (this.tree === undefined || this.tree.sectionDenomination === undefined) {
        return ''
      }
      return this.tree.sectionDenomination[this.$i18n.locale]
    },
    denomination() {
      if (this.tree === undefined || this.tree.denomination === undefined) {
        return ''
      }
      return this.tree.denomination[this.$i18n.locale].replace(/\n/g, '<br />')
    },
    examples() {
      if (this.tree === undefined || this.tree.examples === undefined) {
        return ''
      }
      const examples = this.tree.examples[this.$i18n.locale]
      if (Array.isArray(examples) && examples.length > 0) {
        return examples
      }
      return ''
    },
    erroneous() {
      return this.tree.containsError
    }
  },
  watch: {
    tree: {
      handler(val, old) {
        this.computeNodeStyle()
        setTimeout(() => {
          this.computeNodeStyle()
        }, 100)
      }
    }
  },
  mounted() {
    this.computeNodeStyle()
    if (this.$refs.designation) {
      // eslint-disable-next-line no-new
      new ResizeSensor(this.$refs.designation, this.computeNodeStyle)
    }
  },
  methods: {
    computeNodeStyle() {
      if (!this.$refs.designation) return
      this.nodeStyle = `min-width: ${
        this.$refs.designation.querySelector('span').offsetWidth + 40
      }px;`
    }
  }
}
</script>

<style lang="scss" scoped>
$nodeSpacing: 0.5em;
$designationLeft: false;

.node {
  width: 100%;
  border: 1px solid $grey-light;
  padding: $nodeSpacing;
  display: flex;
  border-radius: 0.5em;
  @if $designationLeft == false {
    flex-direction: column;
  }

  &.hover {
    border-color: $grey;
    box-shadow: 0 0 0.5em 0 $grey-light;
    & > .designation {
      background-color: $secondary;
      color: $light;
    }
    &.erroneous > .designation {
      background-color: $danger;
      color: $light;

      .error-hint {
        color: $white;
      }
    }
  }

  &.erroneous > .designation {
    color: $danger;

    .error-hint {
      display: inline-flex;
      align-items: center;
      font-weight: normal;
      font-style: italic;
      margin-left: 2em;

      .icon {
        margin-right: 0.25em;
      }
    }
  }

  .designation {
    @if $designationLeft {
      writing-mode: vertical-lr;
      text-orientation: upright;
    }
    display: flex;
    align-items: center;
    white-space: nowrap;
    padding: $nodeSpacing / 2 $nodeSpacing;
    z-index: 2;
    font-weight: 900;
    background-color: $grey-lighter;
    border-top-left-radius: 0.3em;
    @if $designationLeft {
      border-bottom-left-radius: 0.3em;
    } @else {
      border-top-right-radius: 0.3em;
    }
  }

  .denomination-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .section-denomination {
      font-weight: 500;
      @if $designationLeft {
        padding-left: $nodeSpacing;
      } @else {
        padding-top: $nodeSpacing / 2;
      }
      display: flex;
      align-items: center;
      align-self: flex-start;
      padding-right: $nodeSpacing;

      &.expandable {
        cursor: pointer;
      }

      & > span,
      & > div {
        order: 2;
      }

      .expand-button {
        order: 1;
        align-self: flex-start;
        margin-right: $nodeSpacing / 2;
        transform: scale(0.6) translateX(-20%);

        &.hidden {
          opacity: 0;
          visibility: hidden;
          width: 0;
          padding: 0;
          margin: 0;
          overflow: hidden;
          pointer-events: none;
        }
      }
    }

    .denomination {
      @if $designationLeft {
        padding-left: $nodeSpacing;
      }
      font-style: italic;
      font-weight: normal;
    }

    .examples {
      @if $designationLeft {
        padding-left: $nodeSpacing;
      }
      font-style: italic;
      & > span {
        text-decoration: underline;
      }
      ul {
        list-style-type: none;
        li {
          padding-left: $nodeSpacing;
        }
      }
    }
  }

  .children {
    display: flex;
    margin: $nodeSpacing;

    .collapse-container {
      flex-grow: 1;
    }

    .child {
      &:not(:last-child) > * {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        & > .designation {
          @if $designationLeft {
            border-bottom-left-radius: 0;
          }
        }
      }
      &:not(:first-child) > * {
        border-top: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        & > .designation {
          @if $designationLeft {
            border-bottom-left-radius: 0;
          } @else {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
          }
        }
      }
    }
  }
}
</style>

<i18n src="~/locale/de/components/parser/ParseTree.json" locale="de"></i18n>
<i18n src="~/locale/en/components/parser/ParseTree.json" locale="en"></i18n>
