<template>
  <b-message class="parser-hint-legend">
    <div class="title is-6">
      {{ $t('title') }}
    </div>
    <div class="columns">
      <div class="column">
        <table>
          <tr>
            <td><div class="box"></div></td>
            <td>{{ $t('breakdown-level') }}</td>
          </tr>
          <tr>
            <td><div class="box optional"></div></td>
            <td>{{ $t('breakdown-level') }} ({{ $t('optional') }})</td>
          </tr>
        </table>
      </div>
      <div class="column">
        <table>
          <tr>
            <td>A</td>
            <td>{{ $t('data-position.alpha') }}</td>
          </tr>
          <tr>
            <td>N</td>
            <td>{{ $t('data-position.num') }}</td>
          </tr>
          <tr>
            <td>( )</td>
            <td>{{ $t('data-position.optional') }}</td>
          </tr>
        </table>
      </div>
    </div>
    <div></div>
  </b-message>
</template>

<style lang="scss" scoped>
.parser-hint-legend {
  margin: 1em 0;

  .columns {
    margin-bottom: 0 !important;
  }

  table {
    tr {
      td {
        vertical-align: middle;

        &:first-of-type {
          font-weight: 700;
          padding: 0.25em 1em 0.25em 0.5em;
        }

        &:last-of-type {
          font-style: italic;
        }

        .box {
          width: 4em;
        }
      }
    }
  }
}

.box.optional {
  background-color: $grey-lighter;
}
</style>

<i18n src="~/locale/de/components/parser/ParserHintLegend.json" locale="de"></i18n>
<i18n src="~/locale/en/components/parser/ParserHintLegend.json" locale="en"></i18n>
