<template>
  <b-message v-if="hint" :id="hash" type="is-info" class="hint-msg">
    <b>{{ $t('hint') }}: {{ hint.name[$i18n.locale] }}</b>

    <table class="bl-boxes">
      <!-- ======== 1. Row: Breakdown Level ======================== -->

      <tr>
        <td>
          <!-- eslint-disable-next-line vue/no-v-html -->
          <div v-html="$t('breakdown-level')"></div>
        </td>
        <td v-for="(bl, i) in hint.breakdownLevels" :key="i">
          <div>
            <span v-if="bl.bl > -1">{{ bl.bl }}</span>
          </div>
        </td>
      </tr>

      <!-- ======== 2. Row: Denomination of BL ======================== -->

      <tr>
        <td>
          <!-- eslint-disable-next-line vue/no-v-html -->
          <div v-html="$t('denomination')"></div>
        </td>
        <td v-for="(bl, i) in hint.breakdownLevels" :key="i">
          <div
            v-if="bl.denomination[$i18n.locale]"
            class="bl-box box"
            :class="bl.optional ? 'optional' : ''"
          >
            {{ bl.denomination[$i18n.locale] }}
          </div>
        </td>
      </tr>

      <!-- ======== 3. Row: Data Positions (A/N) ======================== -->

      <tr>
        <td>
          <!-- eslint-disable-next-line vue/no-v-html -->
          <div v-html="$t('data-position')"></div>
        </td>
        <td v-for="(bl, i) in hint.breakdownLevels" :key="i">
          <div
            ref="dpBox"
            class="bl-box box data-positions"
            :class="{
              'box-transparent': !bl.denomination[$i18n.locale],
              optional: bl.optional
            }"
          >
            <div v-for="(dp, j) in bl.dataPositions" :key="j" class="dp">
              {{ dp }}
            </div>
          </div>
        </td>
      </tr>

      <!-- ======== 4. Row: Explanations + SVG lines ======================== -->

      <tr>
        <td>
          <div v-for="(bl, i) in hint.breakdownLevels" :key="i" class="explanations">
            <div v-for="(ex, k) in bl.explanations" :key="k" ref="explanation" class="explanation">
              {{ ex[$i18n.locale] }}
            </div>
          </div>
        </td>
        <td ref="svgContainer" :colspan="hint.breakdownLevels.length">
          <svg :width="svgWidth" :height="svgHeight">
            <line
              v-for="(line, i) in blExMap"
              :key="`line_${i}`"
              :x1="svgData[`explanation_${line.bl}_${line.ex}_hl_left`]"
              y1="4"
              :x2="svgData[`explanation_${line.bl}_${line.ex}_hl_right`]"
              y2="4"
            />
            <polyline
              v-for="(line, i) in blExMap"
              :key="`polyline_${i}`"
              :points="polylinePoints[i]"
            />
          </svg>
        </td>
      </tr>

      <!-- ================================ -->
    </table>
  </b-message>
</template>

<script>
import Vue from 'vue'
import ResizeSensor from 'css-element-queries/src/ResizeSensor'

export default {
  props: {
    hint: {
      type: Object,
      required: true
    }
  },
  data() {
    const hash =
      'parser-hint-' + encodeURI(this.hint.name[this.$i18n.locale].toLowerCase().replace(' ', '-'))
    return {
      svgWidth: 100,
      svgHeight: 100,
      svgData: {},
      hash
    }
  },
  computed: {
    blExMap() {
      const map = []
      this.hint.breakdownLevels.forEach((bl, i) => {
        bl.explanations.forEach((ex, k) => {
          map.push({ bl: i, ex: k })
        })
      })
      return map
    },
    polylinePoints() {
      const points = []
      this.blExMap.forEach((line, i) => {
        points.push(
          // x1
          this.svgData[`dpBox_${line.bl}_x`] +
            this.svgData[`explanation_${line.bl}_${line.ex}_x_offset`] +
            ',' +
            // y1
            this.svgData[`dpBox_${line.bl}_y`] +
            ' ' +
            // x2
            (this.svgData[`dpBox_${line.bl}_x`] +
              this.svgData[`explanation_${line.bl}_${line.ex}_x_offset`]) +
            ',' +
            // y2
            this.svgData[`explanation_${line.bl}_${line.ex}_y`] +
            ' ' +
            // x3
            this.svgData[`explanation_${line.bl}_${line.ex}_x`] +
            ',' +
            // y3
            this.svgData[`explanation_${line.bl}_${line.ex}_y`]
        )
        if (
          points[i].includes('NaN') ||
          points[i].includes('undefined') ||
          points[i].includes('null')
        ) {
          points[i] = '0,0 0,0'
        }
      })
      return points
    }
  },
  mounted() {
    this.updateSvgDimensions()
    this.setReactiveProps()
    this.$refs.dpBox.forEach((box) => {
      // eslint-disable-next-line no-new
      new ResizeSensor(box, this.setReactiveProps)
    })
    this.$refs.explanation.forEach((box) => {
      // eslint-disable-next-line no-new
      new ResizeSensor(box, this.setReactiveProps)
    })
    // eslint-disable-next-line no-new
    new ResizeSensor(this.$refs.svgContainer, this.updateSvgDimensions)
  },
  methods: {
    updateSvgDimensions() {
      if (this.$refs.svgContainer) {
        this.svgWidth = 0
        this.svgHeight = 0
        setTimeout(() => {
          const style = window.getComputedStyle(this.$refs.svgContainer)
          const width = parseInt(style.width.replace('px', ''))
          const height = parseInt(style.height.replace('px', ''))
          const paddingLR =
            parseInt(style.paddingLeft.replace('px', '')) +
            parseInt(style.paddingRight.replace('px', ''))
          const paddingTB =
            parseInt(style.paddingTop.replace('px', '')) +
            parseInt(style.paddingBottom.replace('px', ''))
          this.svgWidth = width - paddingLR
          this.svgHeight = height - paddingTB - 8
        }, 50)
      }
    },
    setReactiveProps() {
      if (!this.hint) return
      let a = 0
      this.hint.breakdownLevels.forEach((bl, i) => {
        Vue.set(this.svgData, `dpBox_${i}_x`, 0)
        Vue.set(this.svgData, `dpBox_${i}_y`, 4)
        this.setX(i, `dpBox_${i}_x`, 'dpBox')

        bl.explanations.forEach((ex, k) => {
          Vue.set(this.svgData, `explanation_${i}_${k}_x`, 0)
          Vue.set(this.svgData, `explanation_${i}_${k}_y`, 0)
          this.setY(a++, `explanation_${i}_${k}_y`, 'explanation')

          Vue.set(this.svgData, `explanation_${i}_${k}_x_offset`, 0)
          this.setXOffset(i, ex, `explanation_${i}_${k}_x_offset`)

          const hlLeft = `explanation_${i}_${k}_hl_left`
          const hlRight = `explanation_${i}_${k}_hl_right`
          Vue.set(this.svgData, hlLeft, 0)
          this.setHlPos(i, ex.start, hlLeft, 'left')
          Vue.set(this.svgData, hlRight, 0)
          this.setHlPos(i, ex.end, hlRight, 'right')
          while (this.svgData[hlRight] - this.svgData[hlLeft] < 14) {
            this.svgData[hlLeft] -= 1
            this.svgData[hlRight] += 1
          }
        })
      })
    },
    setX(i, elX, refName) {
      const refs = this.$refs[refName]
      if (!refs) return
      const dp = refs[i].querySelector('.dp')
      if (!dp) return
      let x = dp.offsetLeft + dp.offsetWidth / 2 // center below first data position
      for (let m = 0; m < i; m++) {
        if (m >= refs.length) break
        x += refs[m].offsetWidth + 24 // padding left+right of .box
      }
      this.svgData[elX] = x
    },
    setXOffset(i, ex, elOffset) {
      const dpBox = this.$refs.dpBox[i]
      let offsetStart = 0
      let offsetEnd = 0
      for (let m = 0; m < ex.end; m++) {
        const dp = dpBox.querySelectorAll('.dp')[m]
        if (!dp) break
        if (m < ex.start) {
          offsetStart += dp.offsetWidth
        }
        offsetEnd += dp.offsetWidth
      }
      const offset = (offsetStart + offsetEnd) / 2
      this.svgData[elOffset] = offset
    },
    setY(a, elY, refName) {
      let y = 56 // space between BLs elements and first explanation
      const refs = this.$refs[refName]
      if (!refs) return
      for (let m = 0; m < a; m++) {
        if (m > refs.length) break
        y += refs[m].offsetHeight
      }
      this.svgData[elY] = y
    },
    setHlPos(i, nDp, elem, leftOrRight) {
      const refs = this.$refs.dpBox
      if (!refs) return
      const dpBox = refs[i]
      if (!dpBox) return
      const dp = dpBox.querySelectorAll('.dp')[nDp]
      if (!dp) return
      let pos = dp.offsetLeft
      if (leftOrRight === 'right') {
        pos += dp.offsetWidth
      }
      for (let m = 0; m < i; m++) {
        if (m >= refs.length) break
        pos += refs[m].offsetWidth + 24 // padding left+right of .box
      }
      this.svgData[elem] = pos + (leftOrRight === 'left' ? 4 : -4)
    },
    getHash(name = '') {
      if (name === '') return this.hash
      return 'parser-hint-' + encodeURI(name.toLowerCase().replace(' ', '-'))
    }
  }
}
</script>

<style lang="scss">
.hint-msg {
  .media-content {
    overflow-x: auto;
  }
}
</style>

<style lang="scss" scoped>
.hint-msg {
  b {
    display: block;
    margin-bottom: 0.75em;
  }
  pre {
    padding: 0 !important;
    background-color: transparent !important;
  }
}

table.bl-boxes {
  width: 100%;
  max-width: 100%;
  min-width: 40em;
  height: 100%;

  tr {
    &:nth-of-type(2) {
      td:not(:first-of-type) {
        vertical-align: bottom;
        height: 100%;

        .box {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    &:not(:last-of-type) {
      td:first-of-type {
        font-style: italic;
      }
    }

    td:first-of-type {
      height: 100%;
      vertical-align: middle;
      text-align: right;
      min-width: 20em;
      padding: 0 0 0.75em 0;
    }

    td:not(:first-of-type) {
      padding: 0 0.5em 0.75em 1em;
      text-align: center;
    }

    td:nth-of-type(2) {
      width: 5em;
      min-width: 5em;
      max-width: 5em;

      .box {
        text-align: right;
      }
    }

    .box {
      &.optional {
        background-color: $grey-lighter;
      }

      &.box-transparent {
        box-shadow: none !important;
        background-color: transparent !important;
        padding-left: 0;
        padding-right: 0;
      }
    }

    .data-positions {
      text-align: center;
      white-space: nowrap;

      .dp {
        display: inline-block;
        min-width: 1.25em;
        padding: 0 0.25em;
      }
    }

    .explanations {
      &:first-of-type {
        margin-top: 2em;
      }

      .explanation {
        padding-top: 0.75em;
      }
    }
  }
}

svg {
  line,
  polyline {
    fill: none;
    stroke: $dark;
    stroke-width: 0.0625em;
  }
}
</style>

<i18n src="~/locale/de/components/parser/ParserHint.json" locale="de"></i18n>
<i18n src="~/locale/en/components/parser/ParserHint.json" locale="en"></i18n>
