<template>
  <div>
    <client-only>
      <component :is="qrScanner" v-if="qrScanner" @scanned="scanned" />
    </client-only>
  </div>
</template>

<script>
export default {
  data() {
    return {
      qrScanner: null
    }
  },
  mounted() {
    // load on mounted because the vue-qrcode-reader components need to be rendered on the client side
    // see: https://github.com/gruhn/vue-qrcode-reader/issues/159
    this.qrScanner = () => import('~/components/parser/_QrScanner')
  },
  methods: {
    scanned(text) {
      this.$emit('scanned', text)
    }
  }
}
</script>
